Une demande de devis de la part de <%= @quote.fullname.titleize %>
==================================================================

Email: <%= @quote.email %>
Projet: <%= @quote.project.title %>
<% if @quote.product.present? %>
Appartement: <%= @quote.product.name %>
<% end %>
