<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Une demande de devis a été envoyer de la part de <i><%= @quote.fullname.titleize %></i></p>
    <p>
      A propos du projet <%= @quote.project.title %>
      <% if @quote.product.present? %>
      Appartement <%= @quote.product.name %>
      <% end %>
    </p>
    <p>
      La devis sera envoyer pour l'adresse email suivante: <%= @quote.email %>
    </p>
  </body>
</html>
