<% title "Qui sommes nous ?" %>
<% meta_tag :description, "L'équipe, l'historique et nos valeurs. Faites connaissances avec notre société de promotion immobilière."%>

<div class="about">
  <div class="row">
    <div class="large-2 columns">
      <ul class="tabs vertical" data-tab>
        <li class="tab-title active"><a href="#team">Notre équipe</a></li>
        <li class="tab-title"><a href="#history">Historique & Activité</a></li>
        <li class="tab-title"><a href="#vision">Vision & Valeurs</a></li>
      </ul>
    </div>
    <div class="large-10 columns">
      <div class="tabs-content">
        <div class="content active" id="team">
          <div class="team">
            <div class="row">
              <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
                <%= render @team_members %>
              </ul>
            </div>
          </div>
        </div>
        <div class="content" id="vision">
          <div class="contact-descrip">
            <%= image_tag 'logo.jpg' %>
  		  		<p>Chez TIBA immobilière, nous sommes convaincus que l’immobilier doit faire
  					avancer le monde. Depuis près de 20 ans, nous mettons en place des réalisations
  					innovantes, éco-performantes et durables qui contribuent à la qualité de vie
  					en ville et au bien-être de tous, aussi bien pour professionnels que pour
  					les particuliers.</p>
  					<p>En effet, les édifices de TIBA sont visibles dans les quartiers les plus
  					connus du Grand Tunis : les Jardins du Lac II, la Soukra, la Goulette en
  					front de mer, le Centre Urbain Nord et le Belvédère.</p>
  					<p>Les appartements TIBA  sont conçus avec le plus grand soin et selon
  					un cahier de charges rigoureux qui tient compte des attentes du client
  					en matière d’aménagement des espaces et de confort d’utilisation.</p>
  					<p>TIBA immobilière est également active dans le lotissement et la viabilisation
  					de terrains surtout en bord de mer dans la zone touristique Soliman / Borj Cedria.</p>
  					<p>La domotique, nouvelle expertise signée TIBA Immobilière !</p>
  					<p>Nos logements sont pensés pour vous offrir confort, bien être et sécurité.
  					Notre démarche d’innovation constante et notre souci d’exigence nous
  					ont permis de faire la différence.<p>
  					<p>En effet, dans les nouveaux projets de TIBA Immobilière, l’offre domotique
  					est désormais proposée aux clients. Innovante et personnalisable, cette
  					technologie a été pensée pour répondre à vos attentes et à votre style de vie.
  					Vous pouvez désormais contrôler de chez vous ou à distance vos volets,
  					la lumière ou le chauffage selon les chambres, être prévenu via votre
  					smartphone d’une fuite d’eau ou de gaz, etc ..</p>
  		  	</div>
        </div>
        <div class="content" id="history">
          <div class="section-intro">
            <div class="row">
              <div class="medium-5 columns">

                <div class="txt-descrip">
                  TIBA  est une société de promotion immobilière en Tunisie fondée en 1998 et dotée d’un capital de 3500 000 DT.
                  TIBA  a construit et vendu plus de 25 000 m2 de bureaux et appartements neufs luxueux.
                  Elle est également active dans le lotissement et la viabilisation de terrains surtout en bord  de mer dans la zone touristique Soliman-Borj Cedria
                </div>
              </div>
              <div class="medium-6 columns">
                <%= image_tag 'imm.jpg' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
