<% title "Contactez nous" %>
<% meta_tag :description, "Adresse: Avenue Hédi Karray, Imm.Luxor, Centre Urbain Nord -1082 Tunis"%>

<div class="contact">
	<div class="section-header">
		<div class="large-12">
			<div class="map" style="width: 100%; overflow: hidden; height: 400px;">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.708382044231!2d10.193185350352321!3d36.84945957252745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34c85f057789%3A0xe8f8bafb4ff7937c!2sImmeuble+Luxor!5e0!3m2!1sen!2sfr!4v1471356078194" width="100%"
     		height="800" frameborder="0" style="border:0; margin-top: -200px;" allowfullscreen>
				</iframe>
				<div class="map-overlay">
					<h1> Contact </h1>
					<a target="_blank" href="https://www.google.tn/maps/place/36%C2%B050'56.8%22N+10%C2%B011'49.0%22E/@36.8487708,10.1954076,16z/data=!4m5!3m4!1s0x0:0x0!8m2!3d36.849116!4d10.196942">Ouvrir sur Google Map</a>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-infos">
		<div class="row">
		  <div class="medium-8 medium-offset-2 columns">
				<%= render "contacts/form"%>
		  </div>
		</div>
	</div>
	<div class="contact-information">
		<div class="row">
			<div class="medium-8 medium-offset-2 columns">

				<h2> Coordonnées <h2>
					<ul>
						<li>
							<span> Adresse: </span> Avenue Hédi Karray, Imm.Luxor, Centre Urbain Nord -1082 Tunis
						</li>
						<li>
							<span> Tél: </span> +216 71 75 23 00
						</li>
						<li>
							<span> Fax:</span> +216 71 23 27 35
						</li>
						<li>
							<span>Site internet :	</span> <%= link_to "http://www.tiba-immobiliere.com/", "http://www.tiba-immobiliere.com/", target: "_blank" %>
						<li>
						<% if @phones.first.vcard.present? %>
							<li>
								<span> Vcard </span>
								<%= link_to "Tiba Vcard",  @phones.first.vcard.url %>
							</li>
						<% end %>
					</ul>
			</div>
		</div>
	</div>
</div>

<!-- <script>
	$( document ).on('ready page:load', function(event) {
		handler = Gmaps.build('Google');
		handler.buildMap({
	    provider: {
	      disableDefaultUI: true,

	    },
	    internal: {
	      id: 'map'
	    }
	  },
		function() {
			markers = handler.addMarkers([
	      {
	        "lat": 36.849116,
	        "lng": 10.196942
	      }
	    ]);
	    handler.bounds.extendWith(markers);
	    handler.fitMapToBounds();
	    handler.getMap().setZoom(16);
	  });
	})
</script> -->
