<div class="home">
	<div class="promo-header">
		<% if @promotions_landing.exists? %>
			<ul class="promotion-slider" id="orbit" data-orbit>
				<% @promotions_landing.each do |promotion_landing| %>
				<li class="promo" id="<%= promotion_landing.title %>">
					<%= link_for_promotion(promotion_landing) do %>
					<%= image_tag promotion_landing.landing_image.url, class: 'promotion-images' %>
					<% end %>
				</li>
				<% end %>
			</ul>
			<% else %>
			<% if @home_slider.first.slides.any? %>
			<ul class="slides-container" id="orbit" data-orbit >
				<% @home_slider.first.slides.each do |home_slider| %>
				<li class="slider" id="<%= home_slider.project.title %>">
					<%= link_to project_path(home_slider.project) do %>
					<%= image_tag home_slider.image.url, class: 'slider-image' %>
					<% end %>

				</li>
				<% end %>
			</ul>
			<% end %>
		<% end %>
		<div class="mouse" id="scroll-mouse">
			<span></span>
			<i class="fa fa-angle-double-down fa-4x scroll-down"></i>
		</div>
	</div>

	<% if @available_videos.first.present? %>
		<div class="videos-list">
			<h2> <%= @available_videos.first.title.titleize %> </h2>
			<div class="contain-to-grid">
				<div class="row">
					<ul class="large-block-grid-<%= grid_size_for(@available_videos.first.videos)%> small-block-grid-1">
						<% @available_videos.first.videos.each do |video| %>
					    <li class="video-container">
								<div class="video-holder flex-video">
									<iframe src="" width="100%" height="300"></iframe>
									<a class="video-url" href="<%= video.url %>" target="_blank">
										<%= image_tag "360.jpg", class: "home-video" %>
									</a>
								</div>
					    </li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% else %>
		<div class="image-holder">
			<h2> <%= @home_album.first.name.titleize %> </h2>
			<div class="contain-to-grid">
				<div class="row">
					<ul class="large-block-grid-<%= grid_size_for(@home_album.first.images)%> small-block-grid-1">
						<% @home_album.first.images.each do |image| %>
						<li>
							<%= image_tag image.content.url, class: "home-image" %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
</div>
