<% title "Nos références" %>
<% meta_tag :description, "Visitez nos différents projets immobiliers et nos références." %>
<section class="ref-header">
  <div class="row">
    <div class="small-centered medium-centered large-centered medium-12 large-12 columns">
      <h1>Nos références</h1>
    </div>
  </div>
</section>
<div class="contain-to-grid">
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
        <div class="title">L’ambassadeur</div>
        <div class="separator"></div>
        <div class="infos">
          Ce complexe immobilier de 6 étages et 3 bocs a été construit au Lac 2
          et finalisé en 2014. A proximité de l’ambassade du Canada et de la clinique
          Hannibal, la résidence « L’ambassadeur » s’étale sur 5650 m² et a la
          particularité d’être polyfonctionnel. <br>
          En effet, le complexe est composé de :
          <ul>
            <li>
              Deux blocs exclusivement résidentiels avec des appartements spacieux
              et de haut standing, entourés de jardins et proposant un parking
              sous-sol qui donne accès directement à deux ascenseurs.
            </li>
            <li>
              Un bloc bureautique donnant sur le grand boulevard du Lac 2.
            </li>
          </ul>
          Situé au cœur de la Cité des pins, la résidence jouit de l’infrastructure
          nouvelle de la zone et de la proximité de divers services alimentaires
          et bancaires, de rues piétonnes et aussi d’une large corniche avec une vue
          paisible sur le lac. <br>
          La présence de l’Ambassade canadienne et de plusieurs sociétés de renommées
          (Ooredoo, la Banque africaine de développement, Assurances AMI, Tunisie Telecom,
          etc ..) dans le quartier vous fera rassurer sur le volet sécuritaire.
        </div>
      </div>
      <div class="medium-5 large-6 columns">
        <%= image_tag 'ref1.jpg', class: 'ref_image' %>
      </div>
    </div>
  </div>
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
        <%= image_tag 'ref2.jpg', class: 'ref_image' %>
      </div>
      <div class="medium-5 large-6 columns">
        <div class="title">Belvédère Médical</div>
        <div class="separator"></div>
        <div class="infos">
          Situé au centre de Tunis, plus précisément à l’Avenue de la Liberté,
          le projet immobilier à vocation bureautique « Belvédère Médical »
          a été bâtit en 2013 pour répondre au besoin des médecins et des patients
          d’avoir une adresse médicale d’un haut standing en plein cœur de la ville ! <br>
          Fini les immeubles délabrés, les escaliers qui n’en finissent pas et les
          locaux vétustes, place à des bureaux neufs, lumineux et bien spacieux.
          On a aussi pensé à un parking au sous-sol pour décongestionner un tant
          soit peu les rues aux alentours. <br>
          A proximité de l’Hôpital privé El Amen et de la  Clinique la liberté,
          notre complexe médical regroupe des médecins de spécialités différentes
          qui ont pris place dans un de nos bureaux répartis sur les 5 étages
          du « Belvédère Médical ». Un avantage pour les patients qui trouveront
          ainsi tous ce qu'ils cherchent en une seule adresse !  <br>
          Le complexe propose aussi un local à usage commercial au rez-de-chaussée.
        </div>
      </div>
    </div>
  </div>
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
        <div class="title">La corniche</div>
        <div class="separator"></div>
        <div class="infos">
          Quoi de mieux que de se réveiller chaque matin avec une vue sur mer !
          La résidence « La Corniche » avec ses 4 étages vous offre ce privilège
          unique parmi tant d’autres : une vue imprenable sur la Baie de Tunis
          et les flancs montagneux de sa rive sud. <br>
          Appartements luxueux avec prolongement du salon sur une terrasse spacieuse,
          cuisine pré-équipée, chauffage centrale, climatiseurs dans toutes les chambres, etc .. <br>
          Située au cœur de la Goulette à la banlieue nord, ce complexe immobilier
          bénéficie d'un emplacement qui allie confort et proximité de divers
          services au quotidien ainsi qu’une multitude de commerces et de restaurants
          comme le Café Vert ou La Spigola.
        </div>
      </div>
      <div class="medium-5 large-6 columns">
        <%= image_tag 'ref1.jpg', class: 'ref_image' %>
      </div>
    </div>
  </div>
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
      </div>
      <div class="medium-5 large-6 columns">
        <div class="title">Zahret El Bouhaira</div>
        <div class="separator"></div>
        <div class="infos">
          Livré en 2009, le complexe résidentiel haut standing « Zahret El Bouhaira »
          au Lac 2, s’étale sur plus de 13 500 m² de surface en mode R+4, avec en prime
          10 locaux à usage commerciaux au rez-de-chaussée. <br>
          Jonchée dans une zone très sécurisée au vu du voisinage professionnel
          et diplomatique, la résidence offre un « îlot mixte » performant intégrant
          les différentes fonctions : logements, bureaux, commerces et services.
          Son architecture technique a été pensée pour allier entre l’utile et l’agréable,
          le service et le bien-être. <br>
          Pour  toutes ces raisons, Tiba a opté pour une résidence de luxe offrant
          des appartements de haut standing et une finition soignée jusqu'aux moindres
          petits détails pour satisfaire les exigences de ses clients les plus pointilleux.
        </div>
      </div>
    </div>
  </div>
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
        <div class="title">Luxor</div>
        <div class="separator"></div>
        <div class="infos">
          Notre premier bébé ! Le « Luxor », au Centre Urbain Nord, a été le premier
          projet immobilier de TIBA (2002) constitué de bureaux haut standing sur 5
          étages et de 2 espaces à usages commerciale au RDC. <br>
          L’immeuble LUXOR a misé sur une architecture moderne et originale ce qui
          lui a valu de faire, dès son achèvement, l’objet d’un article paru à la 5e
          édition de la revue semestrielle «Archibat» spécialisée dans l’architecture,
          l’aménagement de l’espace et le bâtiment. <br>
          Plus qu’une réussite architecturale, le bâtiment  a été aussi une réussite
          dans le choix de sa situation. TIBA a su parier sur l’avenir et gagner son pari
          puisque le Centre Urbain Nord là où l’immeuble LUXOR est situé, encore
          en chantier pendant la construction, devient en l’espace de quelques années
          le bastion des grandes entreprises (CEPEX, Attijari Bank, Assurances Carte
          et Salim, Orange, Topnet, Groupe Tunisie Valeurs..) et ambassades
          (Qatar et Turquie).
        </div>
      </div>
      <div class="medium-5 large-6 columns">
      </div>
    </div>
  </div>
  <div class="ref-container">
    <div class="row">
      <div class="medium-5 large-6 columns">
      </div>
      <div class="medium-5 large-6 columns">
        <div class="title">Centre d’affaires les Pins</div>
        <div class="separator"></div>
        <div class="infos">
          On ne peut passer devant cet immeuble sans admirer sa façade unique
          en son genre ! Situé sur le grand boulevard du Lac II de Tunis,
          le « Centre d’Affaires Les Pins » est mitoyen avec l’Ambassade du Canada,
          autant dire qu’on se sent en parfaite sécurité dans ce quartier calme
          et agréable. <br>
          Bâtit en 2014 sur une surface de terrain d’environ 460 m², cet immeuble
          sur 5 étages avec 2 commerces au RDC, propose 2 700 m² d’espaces
          exploitables en bureaux haut standing.
        </div>
      </div>
    </div>
  </div>
</div>
