<% title "Services et conseils immobiliers" %>
<% meta_tag :description, "Décoration d'intérieur, prise en charge des dossiers administratives, logement connecté avec équipement domotique, plan de construction, etc ..
    Consultez nos différents services et conseils immobiliers."
%>

<div class="services">
  <h1>Nos Services</h1>

  <div class="contain-to-grid">
    <div class="row">
      <ul class="large-block-grid-2 small-block-grid-1">
        <li>
          <div class="service-container">
            <div class="service-image-container">
              <div class="service-details">
                <%= image_tag 'service1.jpg', class: 'service-image' %>
                <div class="service-controls">
                  <span class="expand md-trigger" data-modal="modal-service-1">
                    <%= image_tag "more.png" %>
                  </span>
                </div>
              </div>
            </div>

            <h2 class="title">Un intérieur à personnaliser selon vos envies</h2>
          </div>
        </li>

        <li>
          <div class="service-container">
            <div class="service-image-container">
              <div class="service-details">
                <%= image_tag 'service2.jpg', class: 'service-image' %>
                <div class="service-controls">
                  <span class="expand md-trigger" data-modal="modal-service-2">
                    <%= image_tag "more.png" %>
                  </span>
                </div>
              </div>
            </div>
            <h2 class="title">Un logement moderne et connecté pour optimiser sa consommation énergétique</h2>
          </div>
        </li>

        <li>
          <div class="service-container">
            <div class="service-image-container">
              <div class="service-details">
                <%= image_tag 'service3.jpg', class: 'service-image' %>
                <div class="service-controls">
                  <span class="expand md-trigger" data-modal="modal-service-3">
                    <%= image_tag "more.png" %>
                  </span>
                </div>
              </div>
            </div>
            <h2 class="title">Accompagnement et prise en charge des dossiers</h2>
          </div>
        </li>

        <li>
          <div class="service-container">
            <div class="service-image-container">
              <div class="service-details">
                <%= image_tag 'service4.jpg', class: 'service-image' %>
                <div class="service-controls">
                  <span class="expand md-trigger" data-modal="modal-service-4">
                    <%= image_tag "more.png" %>
                  </span>
                </div>
              </div>
            </div>
            <h2 class="title">Faire construire sa maison individuelle ne s’improvise pas</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<% content_for :modals do %>

  <div class="md-modal md-effect-12" id="modal-service-1">
    <div class="md-content">
      <h3>Un intérieur à personnaliser selon vos envies</h3>
      <div>
        <p>
          Lorsque vous achetez un logement sur plan, vous avez sûrement envie
          de le personnaliser au gré de vos envies et de vos idées pour qu'il
          vous ressemble et pour se sentir parfaitement chez soi.
        </p>

        <p>
          Chez TIBA nous vous donnons la possibilité de concevoir un intérieur
          sur-mesure en installant plus de rangements à l’entrée, en transformant
          la cuisine ou en agrandissant la salle de bain, dès réservation de votre
          appartement ou villa.
        </p>
        <span class="md-close"></span>
      </div>
    </div>
  </div>


  <div class="md-modal md-effect-12" id="modal-service-2">
    <div class="md-content">
      <h3>Un logement moderne et connecté pour optimiser sa consommation énergétique</h3>
      <div>
        <p>
          Désormais disponible avec nos futurs projets immobiliers, notre service
          de logement connecté à la carte à travers ses différents options et packs
          vous permet de personnaliser votre logement avec les équipements domotiques
          qui vous ressemblent le plus. En choisissant cette option dès réservation
          de votre logement, vous allez profiter dès la construction de divers
          prérequis techniques nécessaires à l’installation de packs d’équipements
          domotiques.
        </p>
        <p>
          Ré-équipement des logements, personnalisation de la température selon
          les chambres, centralisation des lumières et des volets roulants, détecteur
          de fumée ou de fuite avec alerte sur smartphone, etc... Tout est fait pour
          avoir un logement évolutif et pourvoir le piloter à distance !
        </p>
        <span class="md-close"></span>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-12" id="modal-service-3">
    <div class="md-content">
      <h3>Accompagnement et prise en charge des dossiers</h3>
      <div>
        <p>
          Oubliez les tracasseries et les paperasseries administratives, la prise
          en charge de votre dossier (services bancaires, titre bleu, etc...) est
          globale avec TIBA.
        </p>
        <p>
          Et Grâce à ses partenaires bancaires privilégiés,
          TIBA immobilier s’engage à vous trouver la solution financière la plus
          adaptée à votre situation.
        </p>
        <p>
          A noter que la transaction immobilière en Tunisie nécessite l’intervention
          d’un avocat pour la rédaction de l’acte.
          L'équipe de TIBA immobilière est à votre disposition pour répondre à toutes vos demandes.
        </p>
        <span class="md-close"></span>
      </div>
    </div>
  </div>

  <div class="md-modal md-effect-12" id="modal-service-4">
    <div class="md-content">
      <h3>Faire construire sa maison individuelle ne s’improvise pas</h3>
      <div>
        <p>
          Vous souhaitez faire construire et dessiner votre plan de maison? TIBA
          Immobilière vous accompagne et vous conseille dans l'élaboration de votre plan,
          dans son architecture et même dans sa décoration intérieure.
        </p>
        <p>
          N'oubliez pas qu'un plan de maison est basé sur des envies et donc sur vos possibilités
          financiéres. Nos cabinets d'architectures et nos conseillers se chargeront d'optimiser
          au maximum votre budget pour satisfaire vos envies.
        </p>
        <span class="md-close"></span>
      </div>
    </div>
  </div>

<% end %>
