<div class="contain-to-grid">
  <div class="large-11 large-offset-1 small-11 small-offset-1">
    <%= form_for @quote,  html: {class: 'quotes-form'}, remote: true do |f| %>
      <h1 class="title">Demander un dossier</h1>
      <div class="row">
        <div class="large-12 small-12 columns">
          <%= f.select(:project_id, @projects.not_sold.collect {|u| [u.title, u.id]}, prompt: ' Sélectionnez une catégorie (Ex: lotissement) ') %>
        </div>
        <div class="large-12 small-12 columns">
          <%= f.select(:product_id,'') %>
        </div>
      </div>
      <h2 class="section-title"> Coordonnées </h2>
      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.text_field :first_name, placeholder: 'Nom*', class: 'form-input' %>
        </div>
        <div class="large-6 small-12 columns">
          <%= f.text_field :last_name, placeholder: 'Prénom*', class: 'form-input'  %>
        </div>
        <div class="large-12 small-12 columns">
          <%= f.email_field :email, placeholder: 'Adresse E-mail*', class: 'form-input' %>
        </div>
        <div class="large-12 small-12 columns">
          <%= f.telephone_field :phone, placeholder: 'Telephone*', class: 'form-input' %>
        </div>
      </div>
      <h2 class="section-title"> Adresse </h2>
      <div class="row">
        <div class="large-12 small-12 columns">
          <%= f.text_field :avenue, placeholder: 'Adresse*', class: 'form-input'  %>
        </div>
        <div class="large-4 small-12 columns">
          <%= f.text_field :code_postal, placeholder: 'code postal*', class: 'form-input'  %>
        </div>
        <div class="large-8 small-12 columns">
          <%= f.text_field :loc, placeholder: 'Ville*', class: 'form-input'  %>
        </div>
        <div class="large-12 small-12 columns">
          <%= f.country_select(:pays, ['US'], {iso_codes: true, locale:'fr', prompt: "Sélectionner pays"}, class: 'form-input')  %>
        </div>
      </div>

      <%= f.submit "Envoyer", class: 'button submit-button' %>

    <% end %>
  </div>
</div>
