<% if @products.present? %>
  var options = "";
  options += '<option>Sélectionnez un produit (Ex: appartement)</option>';
  <% @products.each do |product| %>
  options += '<option value='+ '<%= product.id %>' + '>' + '<%= product.name %>' + '</option>';
  <% end %>

  $('#quote_product_id').html(options);
  $('#quote_product_id').css("display","block");
<% else %>
  $('#quote_product_id').empty();
  $('#quote_product_id').css("display","none");
<% end %>
