<div class="contain-to-grid">
  <div class="large-8 large-offset-2 end">
    <%= form_for [@promotion, @promo_quote],  html: {class: 'promo-quote-form'}, remote: true do |f| %>
      <h1 class="title">Demander un dossier</h1>

      <dl>
        <dt>Projet</dt>
        <dd><%= @project.title.titleize %></dd>
      </dl>

      <hr>

      <h2 class="section-title">Vos coordonnées</h2>

      <div class="row">
        <div class="large-6 columns">
          <%= f.text_field :first_name, placeholder: 'Nom*', class: 'form-input' %>
        </div>
        <div class="large-6 columns">
          <%= f.text_field :last_name, placeholder: 'Prénom*', class: 'form-input'  %>
        </div>
        <div class="large-12 columns">
          <%= f.email_field :email, placeholder: 'Adresse E-mail*', class: 'form-input' %>
        </div>
        <div class="large-12 columns">
          <%= f.telephone_field :phone, placeholder: 'Telephone*', class: 'form-input' %>
        </div>
      </div>
      <h2 class="section-title">Votre addresse</h2>
      <div class="row">
        <div class="large-12 columns">
          <%= f.text_field :loc, placeholder: 'Localité*', class: 'form-input'  %>
        </div>
        <div class="large-9 columns">
          <%= f.text_field :ville, placeholder: 'Ville*', class: 'form-input'  %>
        </div>
        <div class="large-3 columns">
          <%= f.text_field :code_postal, placeholder: 'code postal*', class: 'form-input'  %>
        </div>
        <div class="large-12 columns">
          <%= f.country_select(:pays, ['US'], {iso_codes: true, locale:'fr', prompt: "Sélectionner pays"}, class: 'form-input')  %>
        </div>
      </div>

      <%= f.submit "Envoyer", class: 'button submit-button' %>

    <% end %>
  </div>
</div>
