<div class="md-modal md-effect-12" id="modal-description-<%= past_project.id %>">
	<div class="md-content">
		<h3><%= past_project.name.capitalize %></h3>
		<div>
			<p><%= past_project.description %><p>
			<span class="md-close"></span>
		</div>
	</div>
</div>
