<% content_for :modals do %>
  <%= render partial: 'modals', locals: { past_project: past_project } %>
<% end %>

<li class="project">
  <div class="project-image-container">
    <div class="project-details">
      <%= image_tag past_project.featured_image.url, class: "project-image" %>
      <div class="project-controls">
        <span class="expand md-trigger" data-modal="modal-description-<%= past_project.id %>">
          <%= image_tag "more.png" %>
        </span>
      </div>
    </div>
  </div>
  <h3 class="project-title"><%= past_project.name.capitalize %></h3>
</li>
