<div class="past-projects">
  <h1>Nos références</h1>

  <div class="row">
    <ul class="large-block-grid-<%= grid_size_for(@projects) %> small-block-grid-1">
      <%= render @past_projects  %>
    </ul>
  </div>
</div>
