<%= form_for @newsletter,  html: {class: 'inscription-form'}, remote: true do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-8 columns">
          <%= f.text_field :email, placeholder: 'Adresse E-mail' %>
        </div>
        <div class="small-4 columns">
          <%= f.submit "Envoyer", class: 'button postfix' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
