<div class="row full-width">
  <div class="small-12 medium-4 medium-offset-1 columns">
    <h3>Inscription Newsletter</h3>

    <%= render 'newsletters/form' %>
  </div>
  <div class="small-12 medium-6 columns">
    <h3>Suivez nous</h3>

    <div class="social-media">
      <% @available_social_networks.each do |social_network| %>
        <% if social_network.activated %>
          <%= link_to social_network.url, target: '_blank' do %>
          <i class="fa fa-2x fa-<%= social_network.name %>"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
