<nav class="top-bar" data-topbar role="navigation">
  <div class="top">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to image_tag('tiba_logo.png'), root_path %>
          <div id="nav-icon">
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section l-effect-4">
      <ul class="phone-container">
        <li><i class="fa fa-phone-square"></i></li>
        <% if @phones.first.phone_numbers.present? %>
          <% @phones.first.phone_numbers.each do |phone| %>
            <li id="phone-num"> <%= phone.number %> </li>
          <% end %>
        <% else %>
          <li id="phone-num"> +216 71 23 27 35 </li>
        <% end %>

      </ul>
      <ul class="menu-right">
        <li class="menu">
          <%= active_link_to 'acceuil', root_path, active: [['static_pages'], ['home']] %>
        </li>
        <li class="menu">
          <%= active_link_to 'rechercher un bien', projects_path, id: "project", active: [['projects'], ['index']] %>
        </li>
				<li class="menu">
          <%= active_link_to 'nos services', service_path, active: [['static_pages'], ['service']] %>
        </li>
				<li class="menu">
          <%= active_link_to 'nos references', references_path, active: [['past_projects'], ['index']] %>
        </li>
        <li class="menu">
          <%= active_link_to 'qui somme nous', about_path, active: [['static_pages'], ['about']] %>
        </li>
        <li class="menu">
          <%= active_link_to 'contact', contact_path, active: [['static_pages'], ['contact']] %>
        </li>
      </ul>
    </section>
  </div>
</nav>

<div id="low-bar">
	<% if content_for?(:low_bar) %>
	  <%= yield(:low_bar) %>
	<% else %>
	  <ul>
      <%= active_link_to 'VILLAS', villas_projects_path, active: [['projects'], ['villas']], wrap_tag: :li %>
      <%= active_link_to 'APPARTEMENTS', apartments_projects_path, active: [['projects'], ['apartments']], wrap_tag: :li %>
      <%= active_link_to 'COMMERCES', commerces_projects_path, active: [['projects'], ['commerces']], wrap_tag: :li %>
      <%= active_link_to 'LOTISSEMENTS/TERRAINS', lotissements_projects_path, active: [['projects'], ['lotissements']], wrap_tag: :li %>
      <li class="project-form"> <%= render 'projects/search' %> </li>
      <li class="search"> <i class="fa fa-search" aria-hidden="true"></i></li>
		</ul>
	<% end %>
</div>
