<section class="mobile-top top-bar-section l-effect-4">
  <ul class="menu-right">
    <li class="menu"><%= link_to 'ACCUEIL', root_path %></li>
    <li class="menu">
			<%= link_to "RECHERCHER UN BIEN", projects_path, id: "project" %>
      <% if @project %>
        <ul>
          <li class="low-menu"> <%= link_to @project.title , root_path %> </li>
        </ul>
      <% else %>
        <ul>
          <li class="low-menu"><%= link_to 'VILLA',villas_projects_path %></li>
     		  <li class="low-menu"><%= link_to 'APPARTEMENT',apartments_projects_path %></li>
          <li class="low-menu"><%= link_to 'COMMERCE',commerces_projects_path %></li>
          <li class="low-menu"><%= link_to 'LOTISSEMNET/TERRAIN',lotissements_projects_path %></li>
        </ul>
      <% end %>
    </li>
    <li class="menu">
      <%= active_link_to 'NOS SERVICES', service_path, active: [['static_pages'], ['service']] %>
    </li>
    <li class="menu">
      <%= active_link_to 'NOS REFERENCES', references_path, active: [['past_projects'], ['index']] %>
    </li>
    <li class="menu">
      <%= active_link_to 'QUI SOMMES NOUS', about_path, active: [['static_pages'], ['about']] %>
    </li>
    <li class="menu">
      <%= active_link_to 'CONTACT', contact_path, active: [['static_pages'], ['contact']] %>
    </li>
  </ul>
</section>
