<input type="checkbox" id="togglebox" />
<div class="overlay"></div>

<nav id="offcanvas-menu">
  <label for="togglebox" id="close">  <i class="fa fa-angle-double-right" aria-hidden="true"></i></label>

  <%= render 'quotes/form'%>
</nav>
<label class="nav-action" for="togglebox">
  <ul>
    <li>
      <a class="devis-title">
        <span class="nav-icon">
          <span class="text">Demandes d'informations </span>
        </span>
      </a>
    </li>
  </ul>
</label>
