<%= form_for @contact, html: {class: 'contact-form'}, remote: true do |f| %>
  <h2>Vos détails</h2>

  <%= f.text_field :first_name, placeholder: 'Nom *', class: 'form-input' %>
  <%= f.text_field :last_name, placeholder: 'Prénom *', class: 'form-input'  %>
  <%= f.country_select(:country, ['US'], {iso_codes: true, locale:'fr', prompt: "Sélectionner pays"}, class: 'form-input')  %>
  <%= f.text_field :ville, placeholder: 'Ville ', class: 'form-input'  %>
  <%= f.email_field :email, placeholder: 'E-mail*', class: 'form-input' %>
  <%= f.telephone_field :phone, placeholder: 'Téléphone', class: 'form-input' %>
  <%= f.text_area :message, placeholder: 'Message', rows: 8, class: 'form-input' %>

  <%= f.submit " Envoyer un message ", class: 'button form-submit' %>
<% end %>
