<div class="row filter-op">
	<% if @project.show_area %>
		<div class="large-<%= span_value_for(@project) %> columns">
				<div class="small-10 small-offset-1 large-10 large-offset-2 filter-container">
					<div class="row">
						<div class="small-4 large-5 columns">
							<span class="filter-cat">Surface</span>
						</div>
						<div class="small-8 large-7 columns">
							<div class="slider-surf">
						  	<span type="text" class="min-surf">
									<%= set_filter( @project.min_surf, 1000) %>
								</span>
				     		<span  type="text" class="max-surf">
									<%=  set_filter( @project.max_surf, 10000 ) %>
								</span>
							</div>
						</div>
					</div>
				</div>
		</div>
	<% end %>
	<% if @project.show_room %>
		<div class="large-<%= span_value_for(@project) %> columns">
			<div class="small-10 small-offset-1 large-10 large-offset-2 filter-container">
				<div class="row">
					<div class="small-4 large-5 columns">
						<span class="filter-cat">Piéces</span>
					</div>
					<div class="small-8 large-7 columns">
						<div class="slider-rooms">
					  	<span type="text" class="min-rooms">
								<%= set_filter( @project.min_room , 1 ) %>
							</span>
			     		<span type="text" class="max-rooms">
								<%= set_filter( @project.max_room , 12) %>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<% if @project.show_price %>
		<div class="large-<%= span_value_for(@project) %> columns">
			<div class="small-10 small-offset-1 large-10 large-offset-2 filter-container">
				<div class="row">
					<div class="small-4 large-5 columns">
						<span class="filter-cat">Prix</span>
					</div>
					<div class="small-8 large-7 columns">
						<div class="slider-price">
							<span type="text" class="min-price">
								<%= set_filter( @project.min_price, 300) %>
							</span>
							<span type="text" class="max-price">
								<%= set_filter( @project.max_price , 10000) %>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<% if @project.show_floor %>
		<div class="large-<%= span_value_for(@project) %> columns">
			<div class="row">
				<div class="small-10 small-offset-1 filter-container">
					<div class="small-4 large-5 columns">
						<span class="filter-cat">Étages</span>
					</div>
					<div class="small-8 large-7 columns">
						<input class="num-floor" type="number" min="0" max="<%= set_filter( @project.nb_floor, 12) %>">
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= search_form_for @search, url: project_path(@project), remote: true do |f| %>
  <%= f.hidden_field :superficie_gteq, placeholder: "Min Surface" %>
  <%= f.hidden_field :superficie_lteq, placeholder: "Max Surface" %>
	<%= f.hidden_field :configuration_gteq, placeholder: "Min Room" %>
  <%= f.hidden_field :configuration_lteq, placeholder: "Max Room" %>
	<%= f.hidden_field :price_gteq, placeholder: "Min Price" %>
	<%= f.hidden_field :price_lteq, placeholder: "Max Price" %>
	<%= f.hidden_field :floor_eq, placeholder: "Floor" %>
<% end %>
