<div class="project-infos modal">
	<div class="row intro">
  	<%= image_tag 'close.png', class: 'close' %>
    <h1 class="text-centered"><%= project.title %></h1>
    <div class="row">
      <p class="description text-centered">
      	<%= project.description %>
      </p>
    </div>
  </div>
</div>
<div class="project-plan modal">
	<div class="container">
		<div class="row">
			<div class="small-centered medium-centered large-centered medium-12 large-12 columns">
				<%= image_tag 'close.png', class: 'close' %>
				<div class="image-holder">
					<%= image_tag project.plan_image.url %>
				</div>
			</div>
		</div>
  </div>
</div>
<div class="project-map modal">
	<div class="row intro">
    <div class="small-centered medium-centered large-centered medium-12 large-12 columns">
      <%= image_tag 'close.png', class: 'close' %>
    	<div class="map">
    	  <div id='map-<%= project_id %>' class="map-element" >
    	  </div>
    	</div>
    </div>
  </div>
</div>
