<div class="level-container">
	<div class="image-wrapper">	
		<%= image_tag 'filter.png', class:"image-filter" %>
		<div class="ribbon-level">
		  <i>
		    <span class="level">4.</span>
		  </i>
		</div>
	</div>
</div>