<div class="md-modal md-effect-12" id="modal-description-<%= project.id %>">
	<div class="md-content">
		<h3><%= project.title.capitalize %></h3>
		<div>
			<p><%= raw( project.description)%><p>
			<span class="md-close"></span>
		</div>
	</div>
</div>

<div class="md-modal md-effect-12" id="modal-plan-<%= project.id %>">
	<div class="md-content">
		<h3><%= project.title.capitalize %></h3>
		<div>

			<%= link_to '#', data: { 'reveal-id': 'plan-modal', 'plan-id': project.plan_image.url(:large)}, class:"zoom-plan", remote: true do %>
				<%= image_tag project.plan_image.url %>
			<% end %>
			<!--  The code below generate Pdf with wicked_pdf or display attached Pdf related to plan -->
			<% if  project.plan_pdf.present? %>
				<%= link_to project.plan_pdf.url(:original, false), target: '_blank' do %>
					<span data-tooltip data-tooltip data-options="disable_for_touch:true"
								aria-haspopup="true" class=" md-download has-tip" title="download PDF"
					>
						<i class="fa fa-file-pdf-o"></i>
						Télécharger le plan
					</span>
				<% end %>
			<% else %>
				<%= link_to plan_project_path(project, format: :pdf), target: '_blank' do %>
					<span data-tooltip data-tooltip data-options="disable_for_touch:true"
								aria-haspopup="true" class=" md-download has-tip" title="download PDF"
					>
						<i class="fa fa-file-pdf-o"></i>
						Télécharger le plan
					</span>
				<% end %>
			<% end %>
			<span class="md-close"></span>
		</div>
		<div id="plan-modal" class="reveal-modal large" data-reveal>
			<%= image_tag project.plan_image.url(:large), class: "zoom-image" %>
			<span class="close-reveal-modal"> </span>
		</div>
	</div>
</div>

<div class="md-modal md-effect-12" id="modal-localisation-<%= project.id %>">
	<div class="md-content">
		<h3><%= project.title.capitalize %></h3>
		<div>
			<div style='width: 100%;'>
				<iframe src="<%= project.map_url %>" id="map-<%= project.id %>" style='width: 100%; height: 400px;'></iframe>
			</div>
			<span class="md-close"></span>
		</div>
	</div>
</div>

<% if project.video_url.present? %>
	<div class="md-modal md-effect-12" id="modal-video-<%= project.id %>">
		<div class="md-content">
			<h3><%= project.title.capitalize %></h3>
			<div>
				<div class="flex-video widescreen">
	        <iframe id="video-<%= project.id %>" width="420" height="315" src="" frameborder="0" allowfullscreen></iframe>
				</div>
				<span class="md-close"></span>
			</div>
		</div>
	</div>
<% end %>


<!-- <script type="text/javascript">
	window["handler-<%= project.id %>"] = Gmaps.build('Google');
	window["handler-<%= project.id %>"].buildMap({
	    provider: {
	      disableDefaultUI: true
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'map-<%= project.id %>'
	    }
	  },
	  function(){
	    markers = window["handler-<%= project.id %>"].addMarkers([
	      {
	        "lat": <%= project.latitude %>,
	        "lng": <%= project.longitude %>
	      }
	    ]);
	    window["handler-<%= project.id %>"].bounds.extendWith(markers);
	    window["handler-<%= project.id %>"].fitMapToBounds();
			window["handler-<%= project.id %>"].getMap().setZoom(12);
	  }
	);
</script> -->
