<% content_for :modals do %>
  <%= render partial: 'modals', locals: { project: project } %>
<% end %>

<li class="project">

  <div class="project-image-container">
    <div class="project-details">
      <%= image_tag project.featured_image.url, class: "project-image" %>
      <div class="project-controls">
        <span class="expand md-trigger has-tip tip-top" data-modal="modal-description-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Description technique">
          <%= image_tag "blueprint.png" %>
        </span>
        <span class="expand md-trigger has-tip tip-top" data-modal="modal-plan-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Plan">
          <%= image_tag "plan-icon.png" %>
        </span>
        <span class="expand md-trigger has-tip tip-top" data-modal="modal-localisation-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Localisation">
          <%= image_tag "map-location.png" %>
        </span>
        <%= link_to project_path(project), class: "expand has-tip tip-top", data: {tooltip: "", options: "disable_for_touch:true"}, aria: {haspopup: "true"}, title: "Découvrir ..." do %>
        <%= image_tag "more.png" %>
        <% end %>
      </div>
    </div>
    <% if project.video_url.present? %>
      <%= link_to project_get_urls_path(project.id), remote: true do %>
        <%= image_tag "360.jpg", class: "project-video md-trigger", data: {modal: "modal-video-#{project.id}"} %>
      <% end %>
    <% end %>
  </div>
  <% if browser.device.mobile? %>
    <div class="project-image-container">
      <div class="project-details">
        <div class="mobile-projects-controls">
          <span class="mobile-infos md-trigger has-tip tip-top" data-modal="modal-description-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Description technique">
            <%= image_tag "blueprint.png" %>
          </span>
          <span class="mobile-infos md-trigger has-tip tip-top" data-modal="modal-plan-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Plan">
            <%= image_tag "plan-icon.png" %>
          </span>
          <span class="mobile-infos md-trigger has-tip tip-top" data-modal="modal-localisation-<%= project.id %>" data-tooltip data-options="disable_for_touch:true" aria-haspopup="true" title="Localisation">
            <%= image_tag "map-location.png" %>
          </span>
          <%= link_to project_path(project), class: "mobile-infos has-tip tip-top", data: {tooltip: "", options: "disable_for_touch:true"}, aria: {haspopup: "true"}, title: "Découvrir ..." do %>
          <%= image_tag "more.png" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <h3 class="project-title"><%= project.title.capitalize %></h3>
</li>
