<% if @category_header.present? %>
  <% if !@category_header.hide %>
    <section class="category-header" style="background: url(<%= @category_header.image.url %>) no-repeat center center;">
      <div class="row intro">
        <div class="small-centered medium-centered large-centered medium-12 large-12 columns">
          <%= simple_format @category_header.description %>
          <div class="avatar-holder">
            <img class="avatar-img" src="<%= @category_header.avatar %>"/>
            <h5><%= @category_header.name %></h5>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
