<% title "Appartement neuf et haut standing" %>
<% meta_tag :description, "Achat / vente d'appartements aux Jardins de Carthage
    et au Lac 2. Découvrez la description technique, le plan et la localisation de nos appartements."
%>

<%= render'projects/testimonial' %>
<div class="projects">
  <div class="row">
    <ul class="small-block-grid-1 large-block-grid-<%= grid_size_for(@projects) %>">
      <%= render @projects %>
    </ul>
  </div>
</div>
