<% title "Immeuble de bureaux Haut standing" %>
<% meta_tag :description, "Achat / Vente de bureaux et commerces à La Goulette,
     au Belvédère, au Centre Urbain Nord et au Lac 2. "
%>

<%= render'projects/testimonial' %>
<div class="projects">
  <div class="row">
    <ul class="small-block-grid-1 large-block-grid-<%= grid_size_for(@projects) %>">
      <%= render @projects %>
    </ul>
  </div>
</div>
