getVideoId = function(url) {
  var videoId;
  videoId = url.split("watch?v=")[1];
  return videoId;
};
var url = "<%= @project.video_url %>";
var videoId = getVideoId(url);
var srcUrl = "https://www.youtube.com/embed/" + videoId;
$("#video-<%= @project.id %>").attr("src", srcUrl);
var close = $("#video-<%= @project.id %>").closest('.flex-video').next();
$(close).click(function(event){
  $("#video-<%= @project.id %>").attr("src", "");
});
