<% title "Réalisation, projets et conseils" %>
<% meta_tag :description, "Tiba immobilière innove et met a votre disposition
   un éventail de conseils et de services pour bien choisir votre bien immobilier."
%>

<section class="projects-header" style="background: url(<%= @projects_header.image.url %>) no-repeat center center;">
  <div class="row intro">
    <div class="small-centered medium-centered large-centered medium-12 large-12 columns">
      <%= simple_format @projects_header.content %>
    </div>
    <div class="mouse">
	    <span></span>
	    <i class="fa fa-angle-double-down fa-4x scroll-down"></i>
	  </div>

  </div>
</section>

<div class="projects">
  <div class="row">
    <ul class="large-block-grid-<%= grid_size_for(@projects) %> small-block-grid-1">
      <%= render @projects %>
    </ul>
  </div>
</div>
