<% title "Lotissements de terrain" %>
<% meta_tag :description, "Achat / Vente de terrains à Soliman et à Tebourba.
    Lotissements viabilisés qui vous donnera l'envie de construire la maison de vos rêves. "
%>

<%= render'projects/testimonial' %>
<div class="projects">
  <div class="row">
    <ul class="small-block-grid-1 large-block-grid-<%= grid_size_for(@projects) %>">
      <%= render @projects %>
    </ul>
  </div>
</div>
