<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
<script>
    $(document).ready(function() {
      $('h1').css({
         'text-align' : 'center',
         'text-transform' : 'capitalize'
      });
      $('.image-holder').css({
        'position': 'relative'
      });
      $('.wicked-img').css({
        'position': 'absolute',
        'transform': 'translateY(30%)'
      });
  });
</script>

<div>
  <h1> <%= @project.title %> </h1>
  <div class="image-holder">
    <%= wicked_pdf_image_tag @project.plan_image.url, class: 'wicked-img' %>
  </div>
</div>
