<% if @project_meta.first.present? %>
	<% title @project_meta.first.title %>
	<% meta_tag :description, @project_meta.first.description %>
<% end %>

<% content_for :title do %>
	Tiba - <%= @project.title %>
<% end %>

<% content_for :low_bar do %>
	<% if session[:last_project_page] %>
		<%= link_to  session[:last_project_page], class: 'back' do %>
			<%= image_tag('chevron.png') %>
		<% end %>
	<% end %>
	<ul>
	 <li><%= @project.title %></li>
	</ul>
<% end %>

<div class="section-infos">
	<div class="name">
		<h1 class="title"><%= @project.title.titleize %></h1>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<div class="related-infos" style="text-align: left;">
				<%= raw(@project.description) %>
			</div>
			<% if  @project.brochure_pdf.present? %>
				<%= link_to @project.brochure_pdf.url(:original, false), class: 'related-pdf', target: '_blank' do %>
						<i class="fa fa-file-pdf-o"></i>
						Télécharger la brochure
				<% end %>
			<% end %>
		</div>
		<div class="large-3 large-offset-1 columns">
			<a href="#" class="button btn-doc" id="doc-project" data-project="<%= @project.id %>">Demander un dossier </a>
			<% if @project.price.present? %>
				<%= link_to  project_credit_simulators_path(@project), class: "button btn-credit" do %>
					Calculer le crédit
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<div class="contain-to-grid">
	<div class="row">
		<ul class="large-block-grid-<%= gallery_size_for(@gallery_photos) %> small-block-grid-1" >
			<% @gallery_photos.each do |gallery_photo| %>
			<li>
				<%= link_to '#', class: "gallery-link", data: { 'reveal-id': 'gallery-modal', 'photo-id': gallery_photo.id}, remote: true do %>
						<%= image_tag gallery_photo.photo.url, class: "project-gallery" %>
				<% end %>
			</li>
			<% end %>
			<br/>

			<% @project_videos.each do |video| %>
				<li>
					<div class="video-holder flex-video">
						<iframe src=""></iframe>
						<a class="video-url" href="<%= video.video_url %>" target="_blank">
						</a>
					</div>
				</li>
			<% end %>
		</ul>

	</div>
</div>

<div id="gallery-modal" class="reveal-modal large project-gallery" data-reveal>
	<ul data-orbit
	 	class="modal-orbit"
		data-options="animation:slide;
                  pause_on_hover:false;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:true;"
	>
		<% @gallery_photos.each do |gallery_photo| %>
			<li id="photo-<%= gallery_photo.id %>" class="">
				<%= image_tag gallery_photo.photo.url %>
			</li>
		<% end %>
	</ul>

	<span class="close-reveal-modal"> </span>
</div>

<% if @products.present? %>
	<div class="row">
		<div class="section-filter">
			<div class="row">
				<span class="filter-title">Objets en ventes</span>
				<%= render partial: 'filters' %>
			</div>

			<div class="row">
				<div class="small-10 small-offset-1 large-10 end " id="appatements-holder">
					<%= render @products %>
				</div>
			</div>

		</div>
	</div>
<% end %>
<% if !@products.present? && !@gallery_photos.present? %>
	<div class="row">
		<div class="section-filter">
			<%= image_tag 'logo.jpg', class: "tiba-logo" %>
		</div>
	</div>
<% end %>
