<% title "Villa neuve haut standing à La Soukra" %>
<% meta_tag :description, "Achat / vente de villas à La Soukra.
   Découvrez la description technique, le plan et la localisation de nos Villas"
%>

<%= render'projects/testimonial' %>
<div class="projects">
  <div class="row">
    <ul class="small-block-grid-1 large-block-grid-<%= grid_size_for(@projects) %>">
      <%= render @projects %>
    </ul>
  </div>
</div>
