Un nouveau contact de la part de <%= @contact.fullname.titleize %>
==================================================================

Email: <%= @contact.email %>

Message:
  <%= @contact.message %>
