<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Une demande d'information a étè envoyer de la part de <i><%= @contact.fullname.titleize %></i></p>

    <p>
      la demande traitent : <br />
        <%= @contact.message %>
    </p>
    <p>
      Les informations relatives seront envoyer pour l'adresse email suivante: <%= @contact.email %>
    </p>
  </body>
</html>
