<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Une demande d'inscription aux newsletter à été envoyer  de la part de <i> <%= @newsletter.email %> </i></p>
    <p>
    </p>
  </body>
</html>
