$txt_intro_color: #0f7080;
$txt_descrip_color: #a0a0a0;
$contact-color: #0f7180;

.about{
  .row{
    margin: 10px;
    min-width: 100%;
  }
  .tabs-content{
    margin-left: -80px;
    @media #{$small-only} {
      margin-left: 0px;
    }
  }
  .tabs{
    background: none;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    .tab-title{
      a{
        background: #fff;
        line-height: 2rem;
        padding: 12px 10px;
        display: block;
        font-weight: 600;
        font-size: 14px;
        color: #0f7180;
        text-transform: uppercase;

      }
    }
    .tab-title.active{
      a{
        color: #88adb3;
        outline: none;
      }
    }
  }
  .content {
    .contact-descrip {
			font-size: 13px;
			color: $txt_descrip_color;
      padding: 100px;
      h1 {
        display: inline-block;
        font-weight: 100;
        border-bottom: 3px solid #0f7180;
        padding-bottom: 5px;
        margin-bottom: 40px;
      }
      img{
        margin-bottom: 20px;
        margin-left: 45%;
      }


		}
    .section-intro {
  		padding: 100px;

  		.txt-descrip {
  			padding: 45px 0px 0px 0px;
      	font-size: 16px;
      	line-height: 26px;
  			color: $txt_descrip_color;
  	    text-align: justify;
  		}

  		img {
  			height: 350px;
  		}
  	}
  }
}
