@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";

// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  font-family: "Open Sans", sans-serif;
}

#header {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #0f7180;
  box-shadow: none;
  text-shadow: none;

  h1 {
    color: #0f7180;

    a:hover {
      color: #88adb3;
    }
  }

  a, a:link {
    font-weight: 600;
    font-size: 14px;
    color: #0f7180;
    text-transform: uppercase
  }

  ul.tabs > li.current > a,
  ul.tabs > li:hover > a {
    background: #fff;
    color: #88adb3;
  }
}
form fieldset > ol > li.boolean label {
  padding-left: 0;
}
#project_description_input {
  label{
    float: none;
  }
  .cke_top {
    width: 100%;
    padding: 0;
  }
}
#product_overview_input{
  label{
    float: none;
  }
  .cke_top {
    width: 100%;
    padding: 0;
  }
}

.columns{
  margin-left: 10px;
  li {
    padding: 10px;
  }
  .label {
    display: block;
    width: 20%;
    float: left;
    font-size: 1.0em;
    font-weight: bold;
    color: #5E6469;
  }
  .column{
    label {
      font-size: 1.0em;
      font-weight: bold;
      color: #5E6469;
      padding: 10px;
    }
  }
}
