@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700";

@import "foundation_and_overrides";
@import "font-awesome";
@import "jquery.ui.all";

@import "header";
@import "footer";
@import "static_pages";
@import "projects";
@import "past_projects";
@import "products";
@import "home";
@import "contact";
@import "show";
@import "quotes";
@import "quote_form";
@import "promo_quotes";
@import "infos";
@import "about";
@import "team_members";
@import "mobile_version";

@import "hamburger_icon";
@import "ribbons";
@import "level";
@import "range";
@import "filter";

@import "modal";
@import "credit_simulators";

body{
  overflow-x: hidden;
  padding-top: 100px;
}
.img-footer{
	text-align: right;
}
.btn-more-infos{
	background: none;
	align: center;
	color: #000;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	text-transform: uppercase;
  margin: 30px 0px;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;

  &:hover, &:focus {
    background: #0f7180;
    color: #fff;
    border-width: 0px;
  }
  @media #{$small-only} and (orientation: portrait) {
    display: block;
    margin: 30px auto;

  }
}
.separator{
  margin-top: 21px;
  width: 28px;
  height: 1px;
  background: #000;
}
.error-box{
  background-color: #b20000;
  border-color: #b20000;
  color: #FFF;
  font-weight: 400;
  margin-top: 120px;
  right: 0;
  z-index: 1000;
  display: none;
  padding: 10px;
  position: fixed;
}
.alert-box{
  background-color: #0f7080;
  border-color: #0f7080;
  color: #FFF;
  font-weight: 400;
  margin-top: 200px;
  right: 0;
  z-index: 1000;
  display: none;
  position: fixed;
}
.flash-box {
  background-color: #0f7080;
  border-color: #0f7080;
  color: #FFF;
  font-weight: 400;
  margin-top: 200px;
  right: 0;
  padding: 10px;
  z-index: 1000;
  display: none;
  position: fixed;
}
//Mouse Scroll Down
.mouse {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 50px;
  border-radius: 13px;
  border: 2px solid #fff;
  position: absolute;
  left: 51%;
  margin-left: -26px;
  cursor: pointer;
  span{
    display: block;
    margin: 6px auto;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  .scroll-down{
    margin: 40px -7px;
    color: #fff;
  }
  @media #{$small-only} and (orientation: portrait){
    margin-left: -15px;
    width: 25px;
    height: 45px;
    .scroll-down {
      font-size: 40px;
      margin: 20px -2px;
      color: #fff;
      }

  }
  @media #{$small-only} and (orientation: landscape) {
    margin-left: -10px;
    margin-top: -5px;
    .scroll-down{
      margin: 35px 2px;
      font-size: 35px;
    }
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
