$txt_intro_color: #0f7080;
$txt_descrip_color: #a0a0a0;
$contact-color: #0f7180;

.contact {
	.section-header {
		.map {
			position: relative;
			.map-overlay {
				width: 100%;
				height: 400px;
				position: absolute;
				background-color: transparent;
				top: 0px;
				left: 0px;
			  z-index: 99;
			  text-align: center;
			  background: rgba(15, 113, 128, .5);

				h1 {
			  	color: #fff;
			  	text-align: center;
					vertical-align: middle;
					line-height: 400px;
					text-transform: uppercase;
					font-weight: 100;
					margin: 0;
					margin-top: 80px;
			  }

				a {
					position: absolute;
			    bottom: 5px;
			    left: 5px;
			    background: #fff;
			    font-size: 12px;
			    padding: 2px 6px;
				}
			}
		}
	}

	.contact-information {
		padding: 50px;
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			color: $contact-color;
			margin-bottom: 15px;
		}
		ul {
			list-style-type: none;
			li {
				color: #222;
				padding-bottom: 10px;
				text-transform: none;
				font-weight: 400;
				span {
					font-size: 16px;
					font-weight: bold;
					padding-right: 15px;
					color: $contact-color;
					margin-bottom: 15px;
				}
			}
		}
	}
	.contact-infos {
		padding: 50px;

		.contact-form {
			h2 {
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				color: $contact-color;
    		margin-bottom: 15px;
			}

			.form-input {
				border-color: $contact-color;

				&:focus {
  				box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
				}
			}
			.error{
				margin-top: -16px;
			}
			.form-submit {
				background: $contact-color;
				color: #fff;
				width: 100%;
				text-align: center;
			}
		}

	}
}
