.credit-form {
  padding: 65px 0;
  .title{
    text-align: center;
    h2 {
      display: inline-block;
      font-weight: 100;
      border-bottom: 3px solid #0f7180;
      padding-bottom: 5px;
      margin-bottom: 40px;
    }
  }
  label {
    color: #0f7180;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  .form-input {
    border-color: #0f7180;

    &:focus {
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
    }
  }
  .form-submit {
    background: #0f7180;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .unity{
    color: #666;
    font-size: 20px;
    position: absolute;
    padding-top: 20%;
  }
  .credit-card{
    text-align: center;
    margin-bottom: 2em;
    .card-title {
      color: #0f7180;
      font-size: 16px;
      font-weight: bold;
    }
    .card-result{
      margin: 5px 0;
      padding-left: 1em;
      height: 30px;
      color: #666;
      font-size: 1.5em;
    }
  }
}
