#appatements-holder {

	.filter-result {
		border: 1px solid #d4e5e3;
	  padding: 10px;
	  position: relative;
		overflow: hidden;
    margin-bottom: 56px;

		.image-wrapper {
			position: relative;
	    margin: 15px auto;

      .ribbon-level {
        left: 20%;
      }

	    @media #{$small-only} {
				width: 180px;
			}
		}

		.filter-result-infos {
			padding: 25px;
			color: #0f7180 !important;

			.filter-result-title {
		    font-weight: 500;
		    font-size: 18px;
        font-weight: 600;
				padding-left: 25%;
			}
			@media #{$small-only}{
				padding-top: 25px;
			}

			.filter-result-descrip {
				height: auto;
		    font-size: 14px;
        margin-top: 20px;
		    text-align: justify;
		    color: #0f7180;
			}
		}
	}

	@media #{$small-only} and(orientation: portrait) {
		margin-bottom: 20px;
	}
}
