.footer {
  background-color: #0f7180;
  padding: 2rem 0;
  text-align: center;

  .full-width {
    max-width: 1400px;
  }

  h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .footer-logo {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
  }

  .inscription-form {
    margin-top: 25px;

    #newsletter_email {
      background-color: #4b95a0;
      outline: none;
      color: #fff;
      border: 0px solid #fff;
    }

    #newsletter_email::-webkit-input-placeholder{
      color: #78b8b8;
      font-weight: 600;
      text-transform: uppercase;
    }

    .button {
      background-color: #195a63;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;

      &:hover {
        background-color: scale-color(#195a63, $lightness: 5%);
      }
    }
  }

  .social-media {
    > a {
      display: inline-block;
      color: #fff;
      text-align: center;
      width: 60px;
      height: 60px;
      line-height: 70px;
      border: 2px solid #fff;
      border-radius: 100%;
      margin: 0 1px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;

      &:hover {
        color: #0f7180;
        background: #fff;
      }
    }
  }
}
