#header {
	&.is-visible {
		transform: translateY(0);
		transition: transform 0.4s;
		z-index: 103;
	}

	transform: translateY(-$topbar-height);
	transition: transform 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	border-bottom: 1px solid #0f7180;
}

.top-bar {
	.top {
		@media #{$small-only} {
			border-bottom: 1px solid #0f7180;
		}

		img {
			margin-left: 25%;

			@media #{$small-only} {
				height: 40px;
				width: 150px;
				margin-left: 0%;
			}
		}
	}

	.top-bar-section {
		.phone-container {
			float: right;
			margin-right: 38px;
			margin-top: 10px;
			color: #0f7080;
			font-weight: 600;
			line-height: 32px;

			i {
				font-size: 24px;
    		color: #43ac6a;
			}

			#phone-num {
				font-size: 16px;
				line-height: 26px;
				margin-left: 15px;
			}
		}

		li:not(.has-form) a:not(.button) {
			line-height: 2rem;
			padding: 12px 10px;
			display: block;
			font-weight: 600;
			font-size: 14px;
			color: #0f7180;
			text-transform: uppercase;

			&:hover, &.active {
				color: #88adb3;
			}
		}
	}

	.menu-right {
		float: right;
    margin-top: 40px;
    margin-right: -200px;

		.menu {
			a {
				font-size: 14px;
			}

			&:last-child{
				padding-right: 20px;
			}
		}
	}
}

.mobile-top {
	display: none;

	.low-menu {
		padding-left: 5%;
		background: #F7F7F7;
		border-top: 1px solid #eee;

		&:last-child {
			border-bottom: 1px solid #eee;
		}

		a {
			font-size: 13px;
		}
	}
}

#low-bar.is-visible, #internal-low-bar.is-visible {
	transform: translateY(0);
	transition: transform 0.4s;
	z-index: 100;
	@media #{$small-only} {
		display: none;
	}
}

#low-bar, #internal-low-bar {
	background: rgba(0, 0, 0, 0.7);
	text-align: right;
	position: fixed;
  width: 100%;
  display: none;
  height: 42px;
	.back {
		float: left;
		font-size: 50px;
		margin-left: 80px;
		margin-top: -21px;
	 	color: white;
		img {
			width: 50px;
		}
	}

	ul {
    margin: 0;
    margin-right: 25px;
		display: flex;
		float: right;

    li {
			display: inline;
			padding: 9px 15px;
			text-transform: uppercase;
			cursor: pointer;
			color: #fff;
			font-size: 15px;

			a {
				color: #fff;
				font-size: 15px;
			}

			&.active {
				background-color: rgb(12, 84, 95);
			}

			@media #{$small-only} {
				font-size: 8px;
				padding: 20px ;
			}
    }

		.project-form {
	    display: none;
			list-style-type: none;
		}
	}

}
