$txt_intro_color: #0f7080;
$txt_descrip_color: #a0a0a0;
$contact-color: #7acbc1;
#hover{
	position:fixed;
	background:#000;
	width:100%;
	height:100%;
	opacity: .6;
	z-index: 102;
	top: 0;
}
#featured-promotion {
	position: fixed;
	right: -315px;
	bottom: 50px;
	width: 300px;
	background: #195a63;
	z-index: 999;

	h3 {
		position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: #195a63;
    margin: 0;
    font-weight: 100;
    color: #fff;
    font-size: 22px;
    padding: 5px;
	}

	#close-featured {
		position:absolute;
		background:#0f7180;
		color:white;
		left:-15px;
		top:-15px;
		border-radius:50%;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:12px;
		cursor:pointer;
		z-index: 1;
	}
}

#popup-promotion {
	position:fixed;
	z-index: 110;
	width:600px;
	height:500px;
	background:#fff;
	left:50%;
	top:40%;
	margin-left:-320px;
	margin-top:-150px;
	text-align:center;
	#close-promotion{
		position:absolute;
		background:#0f7180;
		color:white;
		right:-15px;
		top:-15px;
		border-radius:50%;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:12px;
		cursor:pointer;
		z-index: 1;
	}
	.orbit-container{
		height: 500px;
		text-align: center;
		.orbit-slide-number, .orbit-timer{
			display: none;
		}
		.orbit-slides-container > * {
		  left: 0;
		}
		ul{
			li{
				.promotion-images{
					width: 100%;
					height: 500px;
					position: absolute;
				  top: 0;
				  left: 0;
				  z-index: -1;
				}
				.slide-image{
					width: 100%;
					height: 500px;
					position: absolute;
				  top: 0;
				  left: 0;
				  z-index: -1;
				}
				.orbit-caption{
					bottom: 0;
					padding: 10px 5px;
					font-size: 16px;
					background: #0f7180;
				}
			}

		}
	}
}


.home {
	.promo-header{
		position: relative;
		.mouse {
			bottom: 25%;
			position: absolute;
			@media #{$small-only} {
				bottom: 20%;
			}
		}
	}

	.videos-list{
		margin-top: 40px;
		padding-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		h2 {
			display: inline-block;
			font-weight: 100;
			border-bottom: 3px solid #0f7180;
			padding-bottom: 5px;
			margin-bottom: 40px;
		}
		.videos {
			margin: 20px auto;
		}
		.video-holder{
			position: relative;;
			a{
				position: absolute;;
				bottom: 0;
				left: 0;

				.home-video {
					width: 50px;
				}
			}
		}
		@media #{$small-only} {
			margin-top: 10px;
		}
	}
	.image-holder{
		margin-top: 40px;
    padding-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		h2 {
			display: inline-block;
			font-weight: 100;
			border-bottom: 3px solid #0f7180;
			padding-bottom: 5px;
			margin-bottom: 40px;
		}
		.home-image{
			width: 100%;
			height: 100%;
		}
		@media #{$small-only} {
			margin-top: 10px;
		}
	}

	.orbit-slide-number, .orbit-timer{
		display: none;
	}
	.orbit-container {
		height: 700px;

		ul {
			li {
				.promotion-images {
					position: absolute;
					width: 100%;
					height: 700px;
					&:after {
						background: #0f7180;
					}
				}
				@media #{$small-only} {
					.promotion-images {
						height: 450px;
					}
				}


				.orbit-caption {
					bottom: 0;
					padding: 10px 50px;
					font-size: 16px;
					background: #0f7180;
				}
			}
		}
	}
	.orbit-container{
		.slides-container{
			height: 700px;

			.slider  {
				 .slider-image {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					&:after {
						background: #0f7180;
					}
					@media #{$small-only} {
						background-position: center;
					 	background-repeat: no-repeat;
					 	-webkit-background-size: cover;
					   	-moz-background-size: cover;
					     	-o-background-size: cover;
					       	background-size: cover;
						height:450px;
					}
				}

				.orbit-caption {
					bottom: 0;
					padding: 10px 50px;
					font-size: 16px;
					background: #0f7180;
				}
			}
			.slider-infos-container{
				background: rgba(0,0,0,0.2);
				text-align: center;
				position: absolute;
				margin-right: auto;
				margin-left: 10%;
				width: 80%;
				padding: 5rem;
				margin-top: 150px;
				@media #{$small-only} {
					margin-top: 30px;
				}
				h1 {
					color: #fff;
					font-size: 2.5rem;
					line-height: 1.5em;
					letter-spacing: -0.025em;
					font-weight: 400;
					text-transform: uppercase;
				}
				.btn-more {
					height: 65px;
					width: 230px;
					background: none;
					color: #fff;
					border-color: #fff;
					border-style: solid;
					border-width: 1px;
					margin: 35px auto;
					display: block;

					&:hover, &:focus {
						background: rgba(15, 113, 128, 0.5);
						color: #fff;
					}
				}
				.mouse {
					position: relative !important;
				}

				@media #{$small-only} and (orientation: portrait) {
					h1 {
						padding-top: 10px;
						text-align: center;
						font-size: 20px;
					}

					.btn-more {
						height: 55px;
						width: 140px;
						margin: 15px auto;
						font-size: 14px;
						padding: 0;
					}
				}

				@media #{$small-only} and (orientation: landscape) {
					h1 {
						padding-top: 10px;
						text-align: center;
						font-size: 16px;
					}

					.btn-more {
						height: 55px;
						width: 140px;
						margin-top: 15px;
						font-size: 14px;
    				padding: 0;
					}
				}
			}
		}
	}
	.home-header {
	  background: image_url("header.jpg") no-repeat center center;
	  background-size: cover;
	  height: 100vh;

	  &:before {
	    content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: .8;
	  }
		.slide-infos{
			margin-top: 15%;
		}
		.intro {
	    padding: 3rem;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	  }

		h1 {
	    color: #fff;
	    font-size: 2.5rem;
	    line-height: 1.5em;
	    letter-spacing: -0.025em;
	    font-weight: 400;
	    text-transform: uppercase;
	    text-align: center;
	  }

		.btn-more {
	    height: 65px;
	    width: 230px;
	    background: none;
	    color: #fff;
	    border-color: #fff;
	    border-style: solid;
	    border-width: 1px;
      margin: 35px auto;
    	display: block;

			&:hover, &:focus {
	      background: #0f7180;
	      color: #fff;
	    }
	  }

	  @media #{$small-only} and (orientation: portrait) {
	    h1 {
	      padding-top: 10px;
	      text-align: center;
	      font-size: 20px;
	    }

		  .btn-more {
	      height: 55px;
		    width: 140px;
		    margin: 15px auto;
	    }
	  }

		@media #{$small-only} and (orientation: landscape) {
	    h1 {
	      padding-top: 10px;
	      text-align: center;
	      font-size: 16px;
	    }

		  .btn-more {
	      height: 55px;
		    width: 140px;
		    margin-top: 15px;
	    }
	  }
	}

	.txt-intro {
		color: $txt_intro_color;
		font-weight: 600;
	}
}
