.modal {
	background: rgba(104, 206, 192, 0.9);
	position: absolute;
	z-index: 99;
	border-radius: 0;
  padding: 40px;
  width: 100%;
  .intro{
    position: relative;
  }
	.close{
    position: absolute;
    right: 0px;
  	cursor: pointer;
  }
	@media #{$small-only} {
		left: 0%;
	}

  .image-holder {
    padding: 40px;
    > img {
      display: block;
      margin: 0 auto;
    }
  }

  h1{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
  }
  .description{
    color: #fff;
    line-height: 1.75em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 17px;
    @media #{$small-only} {
      font-size: 14px;
      line-height: 1.25em;
    }
  }

  .map{
    padding-top: 50px;
    .map-element{
      width: 100%;
      height: 400px;
      display: block;
      margin: 0 auto;
      @media #{$small-only} {
        height: 500px;
      }
    }
    @media #{$small-only} {
      height: 500px;
    }
  }
}
