.panel{
	background: #d2efeb;
	border: 0px solid #fff;
	padding: 15px;
	border-bottom: 1px solid #fff;
	.level-container{
		.image-wrapper{
			position: relative;
	    margin: 33px auto;
	    width: 180px;
		}
	}
}