@media #{$small-only} {
  .home {
    .orbit-container {
      height: 500px;
    }
  }
  // Mobile Version for Service Page
  .services {
    padding: 30px;
  }
  // Mobile Version for Reference  Page
  .past-projects{
    ul .project{
      padding: 30px;
    }
  }
  // Mobile Version for Projects Index  Page
  .projects {
    border-top: 0px solid #0f7180;
    padding-top: 0;
    > .row ul .project{
      padding: 20px 50px;
      h3{
        font-size: 14px;
      }
    }
  }
  .tooltip.tip-top.tip-override{
    visibility: hidden !important;
  }
  // Mobile Version for Projects Show  Page
  .projects-show {
    #appatements-holder .filter-result .filter-result-infos .filter-result-title {
      font-size: 14px;
    }
    .section-infos {
      padding: 20px;
      .name {
        .title {
          font-size: 20px;
        }
      }
    }
  }
  // Mobile Version for Product Show  Page
  #product-holder {
    padding: 20px;
    text-align: center;
    .head{
      .title {
        font-size: 20px;
      }
    }
    .app-infos{
      margin-top: 20px;
      font-size: 14px;
    }
    .app-doc {
      float: inherit;
    }

  }
  // Mobile Version for Qui somme nous Page
  .about{
    .row{
      margin: 0;
    }
    .tabs.vertical {
      margin-top: 50px;
      .tab-title{
        display: inline-block;
        a{
          font-size: 11px;
          padding: 5px 2px;
        }
      }
    }
    .content {
      text-align: center;
      .contact-descrip{
        padding: 5px 10px;
        p{
          font-size: 12px;
        }
        img{
          margin-left: 0;
        }
      }
      .section-intro {
        padding: 5px 10px;
        img{
          margin-top: 20px;
          height: 300px;
        }
        .txt-descrip {
          font-size: 12px;
        }
        .btn-more-infos{
          display: inline-block;
        }
      }
    }
  }
  // Mobile Version for Modal
  .md-modal{
    .md-content{
      .md-close{
        top: -35px;
      }
      h3{
        font-size: 1.6em
      }
      > div p {
        font-size: 12px;
      }
    }
  }


}
