.past-projects {
  padding-top: 50px;
  border-top: 1px solid #0f7180;
  border-bottom: 1px solid #0f7180;

  text-align: center;

  h1 {
    display: inline-block;
    font-weight: 100;
    border-bottom: 3px solid #0f7180;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  .project {
    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 100;
    }

    .project-image-container {
      position: relative;

      .project-video {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 48px;
        z-index: 200;
      }

      .project-controls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        z-index: 20;
        background: rgba(15, 113, 128, 0.7);
        overflow: hidden;
        transition: all 0.3s;
        -webkit-box-sixing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .expand {
          transition: all 0.3s ease;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 15px;
          z-index: 100;
          text-align: center;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          &:hover {
            font-weight: 700;
            background-color: rgba(15, 113, 128, 0.8);
          }

          > img {
            width: 32px;
          }
        }
      }

      .project-details:hover {
        .project-controls {
          height: 100%;
        }
      }
    }
  }
}
