.products-show {
  margin-top: 70px;

  .head {
    .title {
      color: #222;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 100;
      display: inline-block;
      border-bottom: 3px solid #0f7180;
      padding-bottom: 5px;
      margin-bottom: 30px;
    }
  }

  .image-centered {
    margin: 0 auto;
    display: block;
    padding: 15px;
  }

  #plan-modal {
		z-index: 10001;
		background: none;
		border: 0;
		outline: none;
		box-shadow: 0 0 0 transparent;
		position: fixed;
		top: 0 !important;
		left: 0;
		right: 0;
		overflow-y: scroll;
		margin-right: -30px;
		padding: 0 !important;
		max-width: none;
		width: 100%;
		height: auto;
		text-align: center;

		img{
			height: 580px;
			margin-top: 5%;
		}
		.close-reveal-modal {
			cursor: pointer;
			position: fixed;
			right: 10px;
			top: 10px;
			width: 32px;
			height: 32px;
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}

			&:before, &:after {
				position: absolute;
				left: 15px;
				content: ' ';
				height: 33px;
				width: 2px;
				background-color: #fff;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	@media #{$small-only} {
		#plan-modal {
			img {
				margin-top: 50%;
				height: 280px;
			}
			.close-reveal-modal {
				top: 20px;
				right: 20px;
			}
		}
	}

  .subtitle {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: 100;
    margin-top: 50px;
    text-transform: uppercase;

    @media #{$small-only} {
      font-size: 18px;
      text-align: center;
    }
  }

  .section-infos {
    .image-wrapper {
      position: relative;
      margin: 15px auto;
      width: 180px;
    }

    .descrip {
      position: absolute;
      bottom: 15%;
      width: 30%;
      right: 0;
      font-size: 16px;
      line-height: 16px;
      color: #0f7180;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .app-infos {
    .title {
      color: #0f7180;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 20px;

      @media #{$small-only} {
        font-size: 20px;
        text-align: center;
      }
    }

    .app-related-infos {
      font-size: 14px;
      text-align: justify;
      color: #0f7180;
      font-weight: 400;

      @media #{$small-only} {
        padding: 0 30px;
      }
    }
  }

  .app-doc {
    float: right;
    display: flex;

    .doc-infos {
      color: #0f7180;
      font-size: 14px;
      font-weight: 600;
      margin-top: 15px;

      .app-ref {
        margin-left: 30px;
        margin-right: 65px;
      }
    }

    .btn-doc {
	    background: #fff;
	    color: #0f7180;
	    border: 1px solid #0f7180;

	    &:hover, &:active {
	    	color: #fff;
	    	background: #0f7180;
	    }

      @media #{$small-only} {
        margin-left: -20px;
      }

      @media #{$medium-up} {
        float: right;
      }
    }

    @media #{$small-only} {
      display: block;
    }
  }

  .app-tech-infos {
    margin-bottom: 70px;
    .tech-infos-header{
      display: flex;
      position: relative;
      margin-top: 50px;
      .subtitle {
        margin-top: 0;
      }
      i{
        color: #4c4c4c;
        position: absolute;
        right: 0;
        &:hover{
          cursor: pointer;
        }
      }
    }

    .tech-infos {
      font-size: 14px;
      text-align: justify;
      margin-top: 20px;
      color: #0f7180;
    }
  }
}
