.category-header{
  background-size: cover;
  height: 100vh;

  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: .8;
  }
  .row{
    width: 90%;
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 20px;
    &:before{
      padding: 0 20px;
      content: image_url("web-open-quote.png");
    }
    &:after {
      padding: 0 20px;
      content: image_url("web-quote.png");
    }
  }
  .avatar-holder{
    float: right;
    .avatar-img{
      width: 100px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    h5 {
      color: #fff;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
    }
  }
  @media #{$small-only} {
    .intro {
      padding: 2.5rem;
    }
    p {
      font-size: 12px;
      &:before{
        padding: 0 5px;
        content: image_url("open-quote.png");
      }
      &:after {
        padding: 0 5px;
        content: image_url("quote.png");
      }
    }
    .avatar-holder{
      margin-top: 10px;
      float: none;
      .avatar-img{
        width: 50px;
        margin-bottom: 0px;
      }
      h5{
        text-align: center;
        font-size: 10px;
      }
    }
  }

}
.projects-header {
  background-size: cover;
  height: 100vh;

  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 17px;
  }

  img {
    height: 70px;
    width: 60px;
    margin-left: 49%;
  }

  @media #{$small-only} {
    h1 {
      padding-top: 10px;
      text-align: center;
      font-size: 16px;
    }

    p {
      text-align: center;
      font-size: 14px;
    }
  }
}

.projects {
  padding-top: 50px;
  border-bottom: 1px solid #0f7180;

  .project {
    text-align: center;
    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 100;
    }

    .mobile-projects-controls{
      display: block;
      padding-top: 20px;
      padding-bottom: 10px;
      .mobile-infos{
        background: #0f7180;
        display: inline-block;
        color: #fff;
        text-align: center;
        width: 55px;
        height: 55px;
        line-height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
        margin: 0 1px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        img {
          width: 28px;
          height: 25px;
        }
      }
    }

    .project-image-container {
      position: relative;
      // -webkit-user-select: none;
      // -webkit-touch-callout: none;
      .project-video {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 48px;
        z-index: 200;
      }
      .project-controls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        z-index: 20;
        background: rgba(15, 113, 128, 0.7);
        overflow: hidden;
        transition: all 0.3s;
        -webkit-box-sixing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .expand {
          transition: all 0.3s ease;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 15px;
          z-index: 100;
          text-align: center;
          color: #fff;
          width: 50%;
          height: 50%;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;

          &:nth-child(1) {
            border-right: 1px solid #0f7180;
            border-bottom: 1px solid #0f7180;
          }

          &:nth-child(2) {
            border-bottom: 1px solid #0f7180;
          }


          &:nth-child(3) {
            border-right: 1px solid #0f7180;
          }

          &:hover{
            font-weight: 700;
            background-color: rgba(15, 113, 128, 0.8);
          }

          > img {
            width: 32px;
          }
        }
      }
      @media #{$medium-up} {
        .project-details:hover {
          .project-controls {
            height: 100%;
          }
        }
      }
    }
  }
}

.project-in-prog,.realized-project,.future-project {
  .my-orbit-container{
		position: relative;
		.my-orbit-overlay{
      width: 100%;
			position: absolute;
			z-index: 10;
      @media #{$medium-up} {
        left: 0;
        right:0;
      }

	    .next{
	    	cursor: pointer;
	    	background-color: transparent;
		    color: white;
		    height: 60px;
		    line-height: 50px;
		    margin-top: -25px;
		    position: absolute;
		    top: 45%;
        right: -50%;
		    font-size: 45px;
		    z-index: 10;

        @media #{$small-only} {
          display:none;
        }
	    }
		}
		.orbit-next, .orbit-timer, .orbit-prev, .orbit-slide-number, .orbit-bullets-container{
			display: none;
		}
		.example-orbit{
			.slider-img{
				background-size: cover;
				height: 100vh;
				width: 100%;
			}
		}
    @media #{$small-only} {
      background: #000;
    }
  }
}

.grid-found {
  @media #{$small-only} and (orientation: portrait) {
    @include grid-column($columns:4,$offset:4);
  }
  @media #{$small-only} and (orientation: landscape) {
    @include grid-column($columns:6,$offset:3);
  }
}
.circle-found{
  @media #{$small-only} and (orientation: portrait) {
    @include block-grid($per-row: 1);
  }
  @media #{$small-only} and (orientation: landscape) {
     @include block-grid($per-row: 3);
  }
}
.projects-promotions,.projects-villas,.projects-apartments,.projects-commerces,.projects-lotissements{
  padding-top: 140px;;
}
//Search form
form#project_search{
  width: 200px;
  display: flex;
  margin-top: -5px;
  height: 0px;

  #q_title_or_category_cont{
    border-color: #7acbc1;
    background-color: #fff;
    width: 200px;
    height: 30px;
    &:focus {
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
      border-color: #7acbc1;
    }
  }
}
