.promotions-show {
  padding-top: 130px;
}

.promo-quote-form {
  padding: 30px;
  margin-bottom: 100px;
  text-align: center;

  .title {
    display: inline-block;
    font-weight: 100;
    border-bottom: 3px solid #0f7180;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  .section-title{
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #0f7180;
    display: inline-block;
  }

  .form-input,.form-input::-webkit-input-placeholder{
    border-color: #7acbc1;
    font-size: 14px;
    background-color: #fff !important;
    color: #0F7180;
    font-size: 15px;
    font-weight: 400px;
    &:focus {
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
      border-color: #7acbc1;
    }
  }
  .form-input:focus::-webkit-input-placeholder{
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
  }
  input:-webkit-autofill, select:-webkit-autofill {
    background-color: white !important;

  }

  small.error{
    margin-top: -20px;
  }
  .submit-button{
    background: #0F7180;
    color: #FFF;
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
    text-align: center;
  }

}
