.devis-title {
  background: #0f7180;
  color: #fff;
  height: 150px;
  margin: 0 auto;
  display: flex;
  width: 250px;
  .nav-icon {
    display: flex;
    text-align: center;
    justify-content: center;
    .text {
      position: relative;
      font-size: 20px;
      color: #fff;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}

.quotes-new {
  padding-top: 130px;
}

.quotes-form {
  padding: 30px;
  margin-bottom: 100px;
  @media #{$small-only} {
    padding: 20px;
  }

  .title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
  }

  .section-title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }

  .form-input,
  #quote_project_id,
  #quote_product_id,
  .form-input::-webkit-input-placeholder {
    border-color: #7acbc1;
    font-size: 14px;
    background-color: #fff !important;
    color: #0F7180;
    font-size: 15px;
    font-weight: 400px;

    &:focus {
      box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
      border-color: #7acbc1;
    }
  }

  .form-input:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
  }

  input:-webkit-autofill,
  select:-webkit-autofill {
    background-color: white !important;

  }

  small.error {
    margin-top: -20px;
  }

  .submit-button {
    background: #0F7180;
    color: #FFF;
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
    text-align: center;
  }
}
