.nav-action {
  position: fixed;
  right: 0px;
  top: 200px;

  z-index: 100;
  overflow: hidden;

  ul {
    list-style: none;

    li {
      float: right;
      clear: both;
      display: inline-block;
      text-align: right;
      margin-bottom:10px;
      width: 150px;
      margin-right: -80px;

      a {
        background: #0f7180;
        color: #fff;
        height: 175px;
        margin: 0 auto;
        display: flex;
        padding-right: 15px;
        width: 200px;

        i {
         padding: 10px 15px;
        }

        .devis-text {
          color: #fff;
          padding: 30px 0;
        }
        &:hover{
          background: #15a0b5;
        }
      }

      &:hover{
        -webkit-transition: 0.4s all;
        -moz-transition: 0.4s all;
        -ms-transition: 0.4s all;
        -o-transition: 0.4s all;
        transition: 0.4s all;
        transition-timing-function: ease;
      }
    }
  }
  @media #{$small-only} {
    display: none;
  }
}

#contentarea {
  position: relative;
  width: 100%;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: -moz-transform 0.5s;
  /* transition settings */
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

input[type="checkbox"]#togglebox {
  /* checkbox used to toggle menu state */
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
input[type="checkbox"]#togglebox:checked ~ {
  #contentarea {
    margin-left: 10px;
    -moz-transform: translateX(-650px);
    -webkit-transform: translateX(-650px);
    transform: translateX(-650px);
  }
  .overlay{
  	opacity: 0.6;
  	visibility: visible;
  }
  #offcanvas-menu {
    /* nav state when corresponding checkbox is checked */
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    /* this is for browsers that don't support CSS3 translate3d in showing the menu */
    -moz-transition-delay: 0s;
    /* No delay for applying "visibility:visible" property when menu is going from "closed" to "open" */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    overflow-y: scroll;
    ul {
      /* nav state when corresponding checkbox is checked */
      margin-top: 100px;
      opacity: 1;
    }
  }
}
.overlay {
	/* overlay that covers entire page when menu is open */
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	background: black;
	z-index: 99;
	visibility: hidden;
	transition: opacity 0.5s; /* transition settings */
}

#navtoggler {
  /* Main label icon to toggle menu state */
  z-index: 9;
  display: block;
  position: relative;
  font-size: 8px;
  /* change font size to change label dimensions. Leave width/height below alone */
  width: 4em;
  height: 2.5em;
  top: 0;
  left: 0;
  text-indent: -1000px;
  border: 0.6em solid black;
  /* border color */
  border-width: 0.6em 0;
  cursor: pointer;
  &::before {
    /* inner strip inside label */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.6em;
    top: 50%;
    margin-top: -0.3em;
    left: 0;
    background: black;
    /* stripes background color. Change to match border color of parent label above */
  }
}

nav {
  &#offcanvas-menu {
    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      margin-top: 200px;
      opacity: 0;
      padding: 0;
      position: relative;
      font: bold 1.5em 'Bitter', sans-serif;
      /* use google font inside nav UL */
      -moz-transition: margin-top 0.2s 0.3s, opacity 0.5s 0.3s;
      /* transition settings */
      -webkit-transition: margin-top 0.2s 0.3s, opacity 0.5s 0.3s;
      transition: margin-top 0.2s 0.3s, opacity 0.5s 0.3s;
      li {
        margin-bottom: 25px;
        a {
          padding: 10px;
          border-radius: 20px;
          &:hover {
            background: #fff;
          }
        }
      }
    }
    .contain-to-grid{
      background: none;
    }
    /* Full screen nav menu */
    width: 650px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    visibility: hidden;
    /* this is for browsers that don't support CSS3 translate3d */
    -moz-transform: translateX(650px);
    -webkit-transform: translateX(650px);
    transform: translateX(650px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #195a63;
    display: block;
    position: fixed;
    text-align: center;
    -moz-transition: -moz-transform 0.5s, visibility 0s 0.5s;
    /* transition settings */
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
    @media #{$small-only} {
			width: 100%;
		}
    #close {
      width: 50px;
      height: 50px;
      overflow: hidden;
      display: block;
      position: absolute;
      cursor: pointer;
      top: 200px;
      left: 0;
      color: #FFF;
      font-size: 40px;
    }
  }
}
