.slider-surf,.slider-rooms,.slider-price{
  width: 100%;
  height: 10px;
  display: inline-block;
  border: 0;
  background: #eee;
  .min-surf,.min-rooms,.min-price{
    float: left;
    margin: 14px -10px;
    font-size: 12px;
    color: #68bbb1;
  }
  .max-surf,.max-rooms,.max-price{
    float: right;
    margin: 14px -10px;
    font-size: 12px;
    color: #68bbb1;
  }
  .ui-state-default, .ui-widget-content .ui-state-default{
    background: #fad89d;
    border-radius: 50%;
    outline: none;
    border: 0px solid #fff;
    .ui-state-focus{
      border: 0px solid #fff;
    }
  }
  .ui-widget-header{
    background: #d2efeb;
    height: 10px;
  }
  .ui-widget-content{
    border: 0;
    height: 10px;
  }
}
