/*ribbon-level Style*/
.ribbon-level {
  background: #fad89d;
  width: 70px;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 30%;
  i {
    width: 90%;
    height: 100%;
    display: block;
    text-align: center;
    margin: auto;
    z-index: 100;
    position: relative;
    overflow: hidden;
    .level {
      color: #FFF;
      display: block;
      margin-top: 5%;
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #fad89d;
    border-right: 40px solid transparent;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 20px solid #fad89d;
    border-left: 40px solid transparent;
  }
}

/* ribbon saled Style */
.ribbon{
  position: absolute;
  padding-left: 45%;
  transform-origin: 0 100%;
  background-color: #cc0000;
  color: rgba(255, 255, 255, 0.9);
  width: 1000px;
  bottom: -150px;
  line-height: 45px;
  font-size: 26px;
  text-transform: uppercase;
  transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  @media #{$small-only} and (orientation: portrait) {
    right: 10px;
    top: -50px;
    font-size: 20px;
    bottom: initial;
  }
  @media #{$small-only} and (orientation: landscape) {
    top: 0px;
    left: -15px;
    bottom: initial;
  }

}

.promotion-icon{
  display: inline-block;
  position: absolute;;
  height: 60px;
  padding: 0 60px;
  color: #0F7180;
  line-height: 60px;
  border: 2px solid #0F7180;
  font-weight: normal;
  right: 40px;
  top: 40px;
}
.brust {
  background: #0F7180;
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
  right: 40px;
  top: 40px;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20eg);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #0F7180;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  .text{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    top: 35%;
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
  }
}
