.projects-show {
	margin-top: 70px;
	.project-gallery{
		width: 100%;
		height: 100%;
		border: 1px solid #CECECE;
		padding: 4px;
		background: #eee;
		&:hover {
			cursor: pointer;
		}
	}

	.reveal-modal-bg{
		background: rgba(15, 113, 128, 1)
	}
	.reveal-modal {
		z-index: 10001;
		top: 8em !important;
		position: fixed;
		padding: 0;
		height: 500px;
		width: 800px;
		.orbit-container{
			height: 100%;
			width: 100%;
			img {
				height: 500px;
    		width: 800px;
			}
		}
		.orbit-bullets-container {
			display: none;
		}
		.close-reveal-modal {
		  cursor: pointer;
		  position: fixed;
		  right: 10px;
		  top: 10px;
		  width: 32px;
		  height: 32px;
		  opacity: 0.3;

		  &:hover {
		    opacity: 1;
		  }

		  &:before, &:after {
		    position: absolute;
		    left: 15px;
		    content: ' ';
		    height: 33px;
		    width: 2px;
		    background-color: #fff;
		  }

		  &:before {
		    transform: rotate(45deg);
		  }

		  &:after {
		    transform: rotate(-45deg);
		  }
		}


	}
	.section-infos {
		text-align: center;
		.name {
			.title {
				color: #222;
		    text-transform: uppercase;
		    font-size: 30px;
		    font-weight: 100;
		    display: inline-block;
		    border-bottom: 3px solid #0f7180;
		    padding-bottom: 5px;
		    margin-bottom: 30px
			}
		}

		.image-centered {
	    margin: 0 auto;
	    display: block;
	    padding: 15px;
		}

		.image-wrapper {
			position: relative;
	    margin: 15px auto;
	    width: 180px;
		}

		.descrip {
	    position: absolute;
	    bottom: 15%;
	    width: 30%;
	    right: 0;
	    font-size: 16px;
	    line-height: 16px;
	    color: #0f7180;
	    text-align: center;
	    text-transform: uppercase;
		}

		.related-infos {
			font-size: 14px;
	    text-align: justify;
	    color: #0f7180;
	    font-weight: 400;
			margin-top: 15px;
		}

		.related-pdf {
			float: right;
			color: #0f7180;
			text-align: center;
			font-weight: 400;
			font-size: 16px;
			border-bottom: none;
			outline: none;
		}

		.btn-doc {
			color: #fff;
			background: #0f7180;
			margin-top: 30px;
			margin-bottom: 10px;

	    &:hover, &:active {
	    	color: #fff;
	    	background: #0f7180;
	    }
			@media #{$small-only} and (orientation:landscape) {
	    	float: none;
				left: 30%;
			}
		}
		.btn-credit {
			color: #fff;
			background: #0f7180;
			margin-top: 20px;
			width: 100%;
			margin-bottom: 50px;

	    &:hover, &:active {
	    	color: #fff;
	    	background: #0f7180;
	    }
			@media #{$small-only} and (orientation:landscape) {
	    	float: none;
				left: 30%;
			}
		}
	}
	.section-filter{

		.tiba-logo {
			margin-top: 50px;
			padding: 30px;
			width: 400px;
			margin-left: 30%;
		}
		p{
			margin-top: 50px;
	    text-align: center;
	    padding: 30px;
			margin-left: 20px;
			@media #{$small-only} {
				padding: 0px;
			}
		}
		.type-title{
			padding-left: 40%;
			color: #0f7180;
			font-size: 20px;
		}
		.type-wrapper{
			padding: 15px;
			margin-top: 45px;
			@media #{$small-only} {
				margin-top: 0;
			}
		}
		.filter-title{
			color: #4c4c4c;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 100;
			margin-bottom: 30px;
			padding-left: 15px;

			@media #{$small-only} and(orientation: portrait) {
				padding-left: 25%;
			}
			@media #{$small-only} and(orientation: landscape) {
				padding-left: 35%;
			}
		}
		form#appartement_search {
			display: none;
		}
		.filter-op{
			margin: 15px auto;
    	display: block;
			margin-bottom: 15px;
    	.filter-container{
				.filter-cat{
					color: #0f7180;
				}
				.num-floor{
					border: 1px solid #0f7180;
			    color: #0f7180;
			    text-align: center;
				}
				@media #{$small-only} and (orientation: portrait) {
					margin-bottom: 20px;
				}
    	}
		}
	}
	@media #{$small-only} {
		padding-top: 60px;
	}
}
