.services {
  padding-top: 50px;
  border-top: 1px solid #0f7180;
  border-bottom: 1px solid #0f7180;
  text-align: center;

  h1 {
    display: inline-block;
    font-weight: 100;
    border-bottom: 3px solid #0f7180;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  .service-container {
    .service-image-container {
      position: relative;

      .service-controls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        z-index: 20;
        background: rgba(15, 113, 128, 0.7);
        overflow: hidden;
        transition: all 0.3s;
        -webkit-box-sixing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        .expand {
          transition: all 0.3s ease;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 15px;
          z-index: 100;
          text-align: center;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          &:hover {
            font-weight: 700;
            background-color: rgba(15, 113, 128, 0.8);
          }

          > img {
            width: 32px;
          }
        }
      }

      .service-details:hover {
        .service-controls {
          height: 100%;
        }
      }
    }

    .service_image {
      margin: 0 auto;
      display: block;
    }

    h2 {
      color: #0f7080;
      font-weight: 600;
      font-size: 18px;
      font-weight: 100;
      margin-top: 15px;
      min-height: 50px;
    }

    .infos {
      padding: 45px 0px 0px 0px;
      font-size: 13px;
      line-height: 26px;
      color: #a0a0a0;
      text-align: justify;

      ul {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
}

.static_pages-reference{
  padding-top: 60px;
  .ref-header{
    background-color: transparent;
    color: rgba(255,255,255,0.75);
    background: image_url("project-2.jpg") no-repeat center center;
    text-align: center;
    height: 350px;
    position: relative;
    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 40px;
      margin-top: 130px;
      text-transform: uppercase;
    }
  }
  .ref-container{
    padding: 50px;
    .title{
      color: #0f7080;
      font-weight: 600;
      font-size: 18px;
    }
    .infos{
      padding: 45px 0px 0px 0px;
      font-size: 13px;
      line-height: 26px;
      color: #a0a0a0;
      text-align: justify;

      ul {
        font-size: 13px;
        margin-top: 10px;
      }
    }
    .ref_image{
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }

}
.empty_holder{
  height: 255px;
  h1{
    text-align: center;
    color: #0f7180;
    margin: 150px auto;
  }
}
