<% @featured_promtion = Promotion.featured.first %>

<% if @featured_promtion %>
  <%= link_for_promotion(@featured_promtion) do %>
    <div id="featured-promotion">
      <div id="close-featured">X</div>
      <h3><%= @featured_promtion.title %></h3>
      <%= image_tag @featured_promtion.image.url %>
    </div>
  <% end %>
<% end %>
