<%= link_to project_product_path(@project, product) do %>
	<div class="row filter-result">
		<div class="large-4 small-12 columns">
			<div class="image-wrapper">
				<% if product.related_picture.present? %>
					<%= image_tag product.related_picture.url, class: "project-gallery" %>
				<% else %>
					<%= image_tag 'villa-level.jpg' %>
					<div class="ribbon-level">
						<i>
							<span class="level"><%= product.floor %>.</span>
						</i>
					</div>
				<% end %>
			</div>
		</div>
		<div class="large-8 small-12 columns filter-result-infos">
			<% if product.sold %>
			<div class="ribbon">Vendu </div>
			<% end %>
			<span class="filter-result-title"><%= product.name.titleize %> - <%= product.configuration %> Piéces</span>
			<div class="filter-result-descrip">
				<%= raw(product.overview)%>
			</div>
		</div>
	</div>
<% end %>
