<% content_for :low_bar do %>
	<% if session[:related_project_page] %>
		<%= link_to  session[:related_project_page], class: 'back' do %>
				<%= image_tag('chevron.png') %>
		<% end %>
	<% end %>
	<ul>
    <li> <%= link_to @product.project.title ,project_path(@product.project)%> </li>
	</ul>
<% end %>
<div id="product-holder" class="contain-to-grid">

  <div class="large-10 large-offset-2 head">
    <h1 class="title"><%= @product.name.titleize %></h1>
  </div>

  <div class="row">
    <div class="section-infos">
      <div class="medium-3 large-4 columns">
        <div class="row">
  				<div class="medium-12 large-10 columns end">
						<% if @product.related_picture.present? %>
							<%= image_tag @product.related_picture.url, class: "project-gallery" %>
						<% else %>
	  					<div class="image-wrapper">
	  						<%= image_tag 'villa-level.jpg' %>
	  						<div class="ribbon-level">
	  						  <i>
	  						    <span class="level"><%= @product.floor %>.</span>
	  						  </i>
	  						</div>
	  					</div>
	  					<span class="descrip"> <%= @product.floor %> Étages Balcon <%= @product.superficie %>m<sup>2</sup> </span>
						<% end %>
					</div>
  			</div>
      </div>
    </div>
    <div class="medium-3 large-8 columns">
      <div class="row">
        <div class="app-infos">
          <p class="app-related-infos">
						<%= raw(@product.overview)%>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="app-doc">
          <a href="#" class="button btn-doc" data-product="<%= @product.id %>" data-project="<%= @product.project_id %>" id="doc-product"> Demander un dossier </a>
        </div>
      </div>
      <div class="row">
        <h2 class="subtitle"> Plan de l'appartement </h2>
				<%= link_to '#', data: { 'reveal-id': 'plan-modal', 'plan-id': @product.plan_image.url(:large)}, class:"zoom-plan", remote: true do %>
					<%= image_tag @product.plan_image.url, class: 'image-centered' %>
				<% end %>
      </div>
      <div class="app-tech-infos">
        <div class="row">
						<div class="tech-infos-header">
							<h2 class="subtitle"> Descriptif </h2>
							<% if @product.document_pdf.present? %>
								<%= link_to @product.document_pdf.url(:original, false), target: "_blank" do %>
									<i class="fa fa-file-pdf-o fa-2x" ></i>
								<% end %>
							<% end %>

						</div>
              <p class="tech-infos">
                <%= @product.description_technique %>
              </p>
            </div>
          </div>
      </div>
    </div>
		<div id="plan-modal" class="reveal-modal large" data-reveal>
			<%= image_tag @product.plan_image.url(:large), class: "zoom-image" %>
			<span class="close-reveal-modal"> </span>
		</div>
  </div>
</div>
