<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name='description'
      content='<%= yield_meta_tag(:description, "Société de promotion immobilière ayant construit
        et vendu plus de 25 000 m2 de bureaux et appartements neufs luxueux. Egalement active dans
        le lotissement et la viabilisation de terrains.") %>'
    />
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      TIBA immobiliere
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
    <script src="//maps.google.com/maps/api/js?v=3&key=AIzaSyB5zcDZxbUU9MKw_MEJuSD9EcB-ABeL7jQ"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body class="<%= [controller_name, action_name].join('-') %>">
    <div id="container">
      <header id="header" class="is-visible">
        <%= render 'shared/header' %>
        <%= render 'shared/mobileHeader' %>
      </header>
      <% if !browser.device.mobile? %>
        <% if !@promotions_theater.blank? %>
        	<div id="hover"></div>
        	<div id="popup-promotion">
        		<div id="close-promotion">X</div>
        		<ul data-orbit>
        			<% @promotions_theater.each do |promotion_theater| %>
                <%= link_for_promotion(promotion_theater) do %>
                  <li class="promo" id="<%= promotion_theater.title %>">
                    <%= image_tag promotion_theater.theater_image.url, class: 'promotion-images' %>
                  </li>
                <% end %>
        			<% end %>
        		</ul>
        	</div>
        <% end %>
      <% end %>
      <div id="content">
        <% if flash[:notice] %>
          <div class="flash-box"><%= flash[:notice] %></div>
        <% end %>
        <div class="alert-box">
          Votre demande de devis a été envoyé avec succès.
        </div>
        <div class="error-box"> Vous devez inserer une adresse email pour l'inscription </div>
        <%= render 'shared/quote_form' %>
        <div id="contentarea">
          <%= yield %>
        </div>
      </div>
      <% if !browser.device.mobile? %>
        <%= render 'promotions/featured' %>
      <% end %>

      <footer class="footer">
        <%= render 'shared/footer' %>
      </footer>
    </div>

    <%= yield :modals %>
    <div class="md-overlay"></div>
  </body>
</html>
