<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_stylesheet_link_tag "pdf", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>
    <div id="header">
      <%= wicked_pdf_image_tag 'tiba_logo.jpg' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
